In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [3]:
test_10000_path = "./data/易访库_TEST10000.xlsx"
selected_631_path = "./data/631条电话号码---发李欢.xlsx"
called_319_path = "./data/20210226 319条数据---发沈老师.xlsx"

In [4]:
df_test_10000 = pd.read_excel(test_10000_path)
df_selected_631 = pd.read_excel(selected_631_path)
df_called_319 = pd.read_excel(called_319_path)

In [39]:
df_selected_631.count()

序号         631
PROD_ID    631
接入号        631
产品状态       631
dtype: int64

In [40]:
df_called_319.count()

序号                      319
呼叫电话                    319
员工编号                    319
通话时间                    319
数据状态                    319
答案求和                    319
成功总量                    319
成功                       78
成功单元格中显示“是”，代表客户完成调研      0
Unnamed: 9                0
Unnamed: 10               0
Unnamed: 11               0
dtype: int64

In [5]:
df_test_10000.columns

Index(['PROD_ID', 'VIP_LEVEL', 'ONLINE_MONTH', 'GENDER', 'IF_BLACK', 'AGE_SEG',
       'IF_GROUP', 'IF_SCHOOL', 'IF_BRD', 'IF_DBL_TRMNL', 'TRMNL_AGE',
       'IF_4G_TRMNL', 'IF_VOLTE', 'BRD_RAX', 'CARD_3G_F', 'BRD_ACTIVE_DAYS',
       'IF_ITV', 'CHRG', 'CHRG01', 'CHRG02', 'DATA_FLOW_AMNT',
       'DATA_FLOW_AMNT01', 'DATA_FLOW_AMNT02', 'CALL_DRTN', 'CALL_DRTN01',
       'CALL_DRTN02', 'DATA_FLOW_AMNT_PRV', 'DATA_FLOW_AMNT_PRV01',
       'DATA_FLOW_AMNT_PRV02', 'DATA_FLOW_AMNT_ROAM_PRV',
       'DATA_FLOW_AMNT_ROAM_PRV01', 'DATA_FLOW_AMNT_ROAM_PRV02',
       'DATA_FLOW_AMNT_5G', 'DATA_FLOW_AMNT_4G', 'SMS_COUNT',
       'CALLING_NET_COUNT', 'CALL_NET_DRTN', 'CALL_NET_DRTN01',
       'CALL_NET_DRTN02', 'VOICE_CHRG', 'DATA_CHRG', 'CALLED_DRTN',
       'CALLED_DRTN01', 'CALLED_DRTN02', 'CALL_COUNT', 'CALLING_DRTN',
       'CALLING_DRTN01', 'CALLING_DRTN02'],
      dtype='object')

合并相关表

In [7]:
df_temp_631_319 = pd.merge(df_selected_631, df_called_319, left_on="接入号", right_on="呼叫电话", how="outer")

In [8]:
df_temp_631_319

,序号_x,PROD_ID,接入号,产品状态,序号_y,呼叫电话,员工编号,通话时间,数据状态,答案求和,成功总量,成功,成功单元格中显示“是”，代表客户完成调研,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1,234401899570,17798849703,正常,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,234399701744,18962793220,正常,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13,234368345602,18021381387,正常,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17,234207436004,18951315326,正常,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22,234370384834,17715460510,正常,262.0,1.771546e+10,860.0,2021-02-25 09:17:25,完成,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,9880,234404458896,15365597189,正常,129.0,1.536560e+10,822.0,2021-02-24 16:55:57,完成,0.0,0.0,NaN,NaN,NaN,NaN,NaN
628,9883,234409191495,15366380550,正常,255.0,1.536638e+10,860.0,2021-02-25 09:13:46,完成,0.0,1.0,是,NaN,NaN,NaN,NaN
629,9925,234390334048,18020352231,正常,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,9947,234411510567,18901487963,正常,184.0,1.890149e+10,892.0,2021-02-25 08:54:52,完成,0.0,0.0,NaN,NaN,NaN,NaN,NaN
631,9976,234304684089,19952665499,正常,230.0,1.995267e+10,821.0,2021-02-25 09:07:27,完成,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [9]:
df_temp_631_319.columns

Index(['序号_x', 'PROD_ID', '接入号', '产品状态', '序号_y', '呼叫电话', '员工编号', '通话时间',
       '数据状态', '答案求和', '成功总量', '成功', '成功单元格中显示“是”，代表客户完成调研', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [11]:
df_temp_631_319.drop(["序号_x", "产品状态", "序号_y", "呼叫电话", "答案求和", "成功单元格中显示“是”，代表客户完成调研", 
                     "Unnamed: 9", "Unnamed: 10", "Unnamed: 11"], axis=1, inplace=True)

In [13]:
df_temp_631_319.drop(["员工编号", "数据状态"], axis=1, inplace=True)

In [14]:
df_temp_631_319

          PROD_ID          接入号                 通话时间  成功总量   成功
0    234401899570  17798849703                  NaN   NaN  NaN
1    234399701744  18962793220                  NaN   NaN  NaN
2    234368345602  18021381387                  NaN   NaN  NaN
3    234207436004  18951315326                  NaN   NaN  NaN
4    234370384834  17715460510  2021-02-25 09:17:25   0.0  NaN
..            ...          ...                  ...   ...  ...
627  234404458896  15365597189  2021-02-24 16:55:57   0.0  NaN
628  234409191495  15366380550  2021-02-25 09:13:46   1.0    是
629  234390334048  18020352231                  NaN   NaN  NaN
630  234411510567  18901487963  2021-02-25 08:54:52   0.0  NaN
631  234304684089  19952665499  2021-02-25 09:07:27   0.0  NaN

[632 rows x 5 columns]

In [15]:
df_temp_631_319["selected"] = 1

In [17]:
df_temp_631_319.drop(["通话时间", "成功"], axis=1, inplace=True)

In [19]:
df_temp_631_319.fillna(0, inplace=True)

In [25]:
df_temp_631_319.drop(columns="接入号", axis=1, inplace=True)

In [27]:
df_temp_631_319.rename(columns={"成功总量": "success"}, inplace=True)

In [28]:
df_temp_631_319

          PROD_ID  success  selected
0    234401899570      0.0         1
1    234399701744      0.0         1
2    234368345602      0.0         1
3    234207436004      0.0         1
4    234370384834      0.0         1
..            ...      ...       ...
627  234404458896      0.0         1
628  234409191495      1.0         1
629  234390334048      0.0         1
630  234411510567      0.0         1
631  234304684089      0.0         1

[632 rows x 3 columns]

In [41]:
for prod_id in df_temp_631_319.PROD_ID:
    if prod_id not in df_selected_631.PROD_ID:
        print(prod_id)

234401899570
234399701744
234368345602
234207436004
234370384834
234419579831
234401159969
234211520714
234209868610
234361724385
234342775329
234616975153
234627952559
234615581609
234398657929
234409323135
234384654344
234211350830
234415534091
234667411828
234413375180
234416056073
234401436666
234251505694
234684370654
234340159288
234672379367
234384859585
234308657602
234614829735
234626298777
234207352289
234385690867
234681036972
234386542828
234683860873
234409834705
234369070219
234419727376
234356643637
234407933391
234643941150
234408722741
234364094228
234409828134
234617306335
234211518893
234218515795
234642480022
234209910608
234651806011
234402979666
234624296681
234675812262
234407340143
234219409543
234206286770
234613571929
234370076837
234357775254
234671846617
234628735699
234639715121
234405354994
234392467221
234375016302
234401886529
234381102797
234208990789
234408815338
234208298962
234208214131
234253400398
234406651011
234409337560
234630786173
234368992314
234682463544
234379248278
234233386706
234213641805
234621172426
234663981276
234636532523
234391145056
234636686170
234339878143
1062505165757
234216581921
234418450023
234220171510
234408059067
234283678019
234417053667
234652651948
234617658224
234646612770
234684872012
234209209818
234373506835
234207641615
234214943437
234652999134
234610455232
234212638171
234215269496
234384985101
234386909291
234420335729
234206998279
234228729435
234677749119
234628280610
234206077030
234415273868
234637384313
234608929143
234409055043
234415585675
234370177322
1062499934942
234389507407
234261946113
234411317190
234682298155
234410569956
234414841872
234620724087
234409068512
234631470027
234400365399
234423745354
234228858312
234401510644
234661211534
234378491114
234421128160
234403426079
234627505344
234211359624
234285592906
234651395749
234369450207
234400858842
234315050588
234423531290
234216798433
234411942799
234610272964
234419727426
234661850468
234655392486
234392119409
234414797194
234219690328
234228758253
234397339069
234394508338
234407120849
234421273547
234396220441
234405519480
234648019924
234415098173
234610111658
234211447764
234412972971
234417068022
234384808510
234205789003
234393484332
234639275614
234361621656
234414652794
234219780998
234211096154
234644349500
234373402109
234361977985
234405362350
234407253821
234414647003
234413414491
234615215348
234407435742
234376494190
234672914179
234342812174
234636716889
234398956535
234364875436
234368885182
234637810360
234208626853
234404442612
234664086251
234423608667
234220738672
234631017731
234385270870
234393239815
234210760380
234272727580
234621860006
234416080607
234681457867
234207584050
234387429043
234665025148
234408767991
234370082830
234262318134
234623258445
234335544359
234406905760
234401857037
234381121249
234417389808
234207273935
234329507418
234406152895
234381160373
234414366619
234648300657
234209044992
234659609096
234207462233
234230461048
234423010755
234685597236
234208090423
234297864518
234220762089
234214162135
234211190184
234623329840
234220319398
234414756963
234368204858
234407128528
234626232059
234210064538
234672025015
234410529652
234406039510
234396896746
234417409211
234213142180
234687260667
234391896293
234411829652
234210959764
234208278037
234637531613
234621073795
234407118996
234405507614
234207253846
234209345088
234308981551
234416258173
234411984330
234688527222
234405954904
234221759366
234419640253
234284891546
234413448224
234408621614
234418985446
234209703742
234682644097
234206817639
234623310349
234648851336
234216382061
234207837060
234214484773
234277730380
234229494955
234415508932
234404554300
234662269441
234207324630
234680297336
234362823458
234210431908
234686712520
234263387905
234207396376
234231894842
234212304439
234648970357
234361633131
234215635916
234415577771
234372508617
234210509677
234419073579
234357092935
234384828390
234207278492
234665473606
234420092653
234415571299
234381154332
234207594053
234420810920
234412992336
234205604720
234633811908
234625776967
234386316052
234357015013
234405375742
234383662556
234655744944
234415592326
234228665575
234617811258
234209499180
234213529947
234404486932
234354247065
234255452968
234614304599
234616453874
234361591006
234221344571
234634863023
234376835944
234416132689
234282840474
234407156622
234409319515
234277293886
234406511482
234673178669
234684137172
234625604964
1062304485284
234209065855
234206025842
234411463682
234408169618
234335015916
234417955350
234393581326
234270748440
234680871198
234373493464
234632772751
234410535212
234671342038
234623981462
234386423021
234361158900
234655411693
234623309942
234407148097
234400326593
234421927905
234210997455
234684827586
234418102537
234623754654
234211208089
234420882447
234375249483
234627502907
234416716714
234640049720
234216066630
234415594436
234408815018
234657907977
234419037046
234617300843
234211402993
234208793878
234413827264
234225880496
234415383477
234370073193
234686123329
234671334231
234351868832
234255358624
234665017527
234286427246
234230876383
234270701627
234664557486
234215452329
234207869238
234217451697
234208549867
234620620952
234249361571
234278700642
234251485107
234408850125
234370075188
234416106579
234214827255
234399574772
234418984023
234205579982
234419401649
234361193097
234412555071
234422373940
234671434947
234419705964
234209287832
234641154948
234404340771
234357782662
234672789595
234399612548
234419663675
234650672280
234391283396
234412846845
234407575494
234650865420
234417919542
234653020430
234411576403
234627582851
234270742450
234414519486
234622154732
234220262451
234409215404
234608571286
234351386109
234649888406
234378829882
234293235933
234214903140
234396136030
234310849392
234206745656
234413044342
234365577960
234411777513
1062501552746
234418385188
234244736724
234368896450
234422369483
234405273620
234219455847
234209254906
234404603860
234368892765
234422139684
234384195442
234418431681
234411285558
234399594659
234660778561
234348003175
234422300651
234421802742
234216666928
234415595251
234393036334
234414372765
234408753443
234620339921
1062499247378
234208377369
234371244480
234657653184
234613119728
234404442883
234414560831
234400859220
234622654365
234333692479
234685571878
234676649073
234221850308
234383696818
234677207417
234423689802
234308143076
234370072063
234370072063
234384687667
234414748053
234208083779
234383901932
234398629316
1062499802154
234383861714
234210457837
234406457182
234210653064
234682630075
234216100534
234227044281
234414359315
234670527619
234319532107
234388824151
234650118553
234647881679
234206233059
234207954987
234405364348
234656951545
234252493776
234207005124
234416326633
234419708756
234215950533
234626845806
234219533385
234624425421
234278435090
234374189677
234401888334
234409704595
234221028846
234213587584
234668711101
234207034478
234393516494
234393453208
234413428493
234685041594
234423685848
234415127913
234633804308
234208008030
234345761170
1062306073526
234401895176
234214795691
234415578833
234394625542
234607638088
234682012926
234207581847
234416714915
234667304827
234209200067
234371159180
234680420586
234263140295
234667090639
234405287761
234219537933
234657697970
234315033683
234386405562
234679875218
234393544282
234680747235
234656187882
234617341439
234383817252
234368863019
234384689136
234642334380
234277662238
1062612886168
234206266441
234406457685
234666334441
234419045346
1062500304138
234405987698
234216105193
234209732238
234657792279
234324519661
234352107713
234403376073
234402650956
234390075404
234334553934
234415411762
234636294083
234674053142
234206088800
234402900721
234213584930
234213732587
234679431388
234368127266
234367274791
234220385619
234212105743
234378491476
234237455089
234209179242
234418860824
234369072640
234219957922
234209285836
234236629865
234271051648
234217697834
234419706377
234209090612
234423711422
234236395336
1062306003031
234215508545
234232033524
234415591283
234392117737
234392117549
234392103835
234622146368
234208697876
234332412419
234210798248
234209596393
234417762596
234213175471
234686233151
234414872229
234404458896
234409191495
234390334048
234411510567
234304684089

In [29]:
df_all = pd.merge(df_test_10000, df_temp_631_319, on="PROD_ID", how="outer")

In [30]:
df_all

,PROD_ID,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,IF_BRD,IF_DBL_TRMNL,...,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,success,selected
0,234619912755,3.0,22,1,N,30,N,N,Y,Y,...,0.00,9,2.0,8.0,4,5,2.0,22.0,NaN,NaN
1,234401899570,5.0,41,2,N,55,N,N,Y,Y,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0.0,1.0
2,234420890495,3.0,28,1,N,30,N,N,Y,Y,...,63.02,6,1.0,1.0,0,0,0.0,0.0,NaN,NaN
3,234386398120,4.0,51,2,N,45,N,N,Y,N,...,0.00,19,99.0,17.0,8,13,59.0,6.0,NaN,NaN
4,234634533836,4.0,18,2,N,45,N,N,Y,Y,...,67.95,0,3.0,9.0,2,2,5.0,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,234219457848,5.0,100,1,N,50,N,N,Y,Y,...,0.00,588,476.0,451.0,13,80,185.0,24.0,NaN,NaN
9997,234423040411,5.0,27,1,N,30,N,N,Y,N,...,0.00,0,0.0,0.0,0,0,0.0,0.0,NaN,NaN
9998,234217300069,4.0,104,1,N,35,N,N,Y,N,...,65.07,227,188.0,149.0,46,159,140.0,202.0,NaN,NaN
9999,234380147929,3.0,55,2,N,30,N,N,Y,Y,...,79.58,10,7.0,19.0,3,7,1.0,6.0,NaN,NaN
10000,234403427440,4.0,40,1,N,45,N,N,Y,Y,...,0.00,6,0.0,3.0,0,0,0.0,1.0,NaN,NaN

In [31]:
df_all.success.fillna(0, inplace=True)
df_all.selected.fillna(0, inplace=True)

In [34]:
df_all.rename(columns={"selected":"IF_TOUCH"}, inplace=True)

In [35]:
df_all

,PROD_ID,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,IF_BRD,IF_DBL_TRMNL,...,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,success,IF_TOUCH
0,234619912755,3.0,22,1,N,30,N,N,Y,Y,...,0.00,9,2.0,8.0,4,5,2.0,22.0,0.0,0.0
1,234401899570,5.0,41,2,N,55,N,N,Y,Y,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0.0,1.0
2,234420890495,3.0,28,1,N,30,N,N,Y,Y,...,63.02,6,1.0,1.0,0,0,0.0,0.0,0.0,0.0
3,234386398120,4.0,51,2,N,45,N,N,Y,N,...,0.00,19,99.0,17.0,8,13,59.0,6.0,0.0,0.0
4,234634533836,4.0,18,2,N,45,N,N,Y,Y,...,67.95,0,3.0,9.0,2,2,5.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,234219457848,5.0,100,1,N,50,N,N,Y,Y,...,0.00,588,476.0,451.0,13,80,185.0,24.0,0.0,0.0
9997,234423040411,5.0,27,1,N,30,N,N,Y,N,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
9998,234217300069,4.0,104,1,N,35,N,N,Y,N,...,65.07,227,188.0,149.0,46,159,140.0,202.0,0.0,0.0
9999,234380147929,3.0,55,2,N,30,N,N,Y,Y,...,79.58,10,7.0,19.0,3,7,1.0,6.0,0.0,0.0
10000,234403427440,4.0,40,1,N,45,N,N,Y,Y,...,0.00,6,0.0,3.0,0,0,0.0,1.0,0.0,0.0

In [37]:
df_all.to_excel("./data/20210226_test_10000_631_319.xlsx", encoding="utf-8")