In [131]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [10]:
# 初始化数据库连接，使用pymysql模块
# MySQL的用户：root, 密码:147369, 端口：3306,数据库：mydb
engine = create_engine('mysql+pymysql://root:123456@159.75.89.42:3306/easy_call_db')

In [5]:
# 查询语句
sql = 'select * from user;'

df = pd.read_sql_query(sql, engine)

In [6]:
df

,Host,User,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv,Reload_priv,Shutdown_priv,...,password_expired,password_last_changed,password_lifetime,account_locked,Create_role_priv,Drop_role_priv,Password_reuse_history,Password_reuse_time,Password_require_current,User_attributes
0,%,root,Y,Y,Y,Y,Y,Y,Y,Y,...,N,2021-07-01 10:41:51,None,N,Y,Y,None,None,None,None
1,localhost,mysql.infoschema,Y,N,N,N,N,N,N,N,...,N,2021-07-01 10:32:12,None,Y,N,N,None,None,None,None
2,localhost,mysql.session,N,N,N,N,N,N,N,Y,...,N,2021-07-01 10:23:59,None,Y,N,N,None,None,None,None
3,localhost,mysql.sys,N,N,N,N,N,N,N,N,...,N,2021-07-01 10:23:59,None,Y,N,N,None,None,None,None

In [7]:
df_1 = pd.DataFrame({'id':[1,2,3,4], 'num':[32,34,21,23]})

df_1.to_sql('mytest', engine, index=False)

## 2021_1_06的数据

In [34]:
path_1_06 = "data/易访库数据_20210106.xlsx"

In [35]:
df_1_06 = pd.read_excel(path_1_06)

In [36]:
df_1_06

,PROD_ID,CALL_MONTH,VIP_LEVEL,ONLINE_MONTH,GENDER,TS_TIMES,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,...,ACCU_RATE,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALLED_DRTN03,CALL_COUNT,CALLING_DRTN01,CALLING_DRTN02,CALLING_DRTN03,IF_TOUCH
0,234256589252,201907,5.0,70.0,1.0,NaN,N,40.0,Y,N,...,NaN,70.0,21.0,55.0,90.0,27,75.0,114.0,255.0,N
1,234612472495,201907,5.0,7.0,1.0,NaN,N,50.0,Y,N,...,NaN,1.0,0.0,0.0,1.0,0,0.0,0.0,5.0,N
2,234241741087,201907,NaN,73.0,NaN,NaN,N,NaN,N,N,...,NaN,50.0,37.0,61.0,84.0,14,108.0,225.0,227.0,N
3,234613632880,201907,99.0,6.0,2.0,NaN,N,50.0,N,N,...,NaN,1.0,2.0,0.0,0.0,0,3.0,1.0,0.0,N
4,234620806728,201907,4.0,5.0,1.0,NaN,N,45.0,N,N,...,NaN,161.0,119.0,43.0,21.0,242,327.0,198.0,205.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60222,234208595193,201911,3.0,119.0,1.0,NaN,N,35.0,Y,N,...,NaN,369.0,254.0,532.0,498.0,38,68.0,198.0,72.0,Y
60223,234207020843,201911,4.0,125.0,2.0,NaN,N,35.0,Y,N,...,NaN,532.0,543.0,768.0,577.0,180,361.0,309.0,313.0,Y
60224,234213281424,201911,4.0,101.0,1.0,NaN,N,45.0,N,N,...,NaN,274.0,97.0,106.0,115.0,52,68.0,28.0,26.0,Y
60225,234396242630,201911,5.0,32.0,1.0,NaN,N,35.0,N,N,...,NaN,0.0,0.0,4.0,0.0,0,0.0,4.0,0.0,Y
60226,234228852925,201911,5.0,80.0,1.0,NaN,N,50.0,Y,N,...,NaN,201.0,185.0,157.0,182.0,68,180.0,110.0,179.0,Y

In [37]:
df_1_06.to_sql('2021_1_06', engine, index=False)

In [38]:
sql = "select * from 2021_1_06;"
df_sql_1_06 = pd.read_sql_query(sql, engine)

In [39]:
df_sql_1_06

,PROD_ID,CALL_MONTH,VIP_LEVEL,ONLINE_MONTH,GENDER,TS_TIMES,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,...,ACCU_RATE,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALLED_DRTN03,CALL_COUNT,CALLING_DRTN01,CALLING_DRTN02,CALLING_DRTN03,IF_TOUCH
0,234256589252,201907,5.0,70.0,1.0,None,N,40.0,Y,N,...,None,70.0,21.0,55.0,90.0,27,75.0,114.0,255.0,N
1,234612472495,201907,5.0,7.0,1.0,None,N,50.0,Y,N,...,None,1.0,0.0,0.0,1.0,0,0.0,0.0,5.0,N
2,234241741087,201907,NaN,73.0,NaN,None,N,NaN,N,N,...,None,50.0,37.0,61.0,84.0,14,108.0,225.0,227.0,N
3,234613632880,201907,99.0,6.0,2.0,None,N,50.0,N,N,...,None,1.0,2.0,0.0,0.0,0,3.0,1.0,0.0,N
4,234620806728,201907,4.0,5.0,1.0,None,N,45.0,N,N,...,None,161.0,119.0,43.0,21.0,242,327.0,198.0,205.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60222,234208595193,201911,3.0,119.0,1.0,None,N,35.0,Y,N,...,None,369.0,254.0,532.0,498.0,38,68.0,198.0,72.0,Y
60223,234207020843,201911,4.0,125.0,2.0,None,N,35.0,Y,N,...,None,532.0,543.0,768.0,577.0,180,361.0,309.0,313.0,Y
60224,234213281424,201911,4.0,101.0,1.0,None,N,45.0,N,N,...,None,274.0,97.0,106.0,115.0,52,68.0,28.0,26.0,Y
60225,234396242630,201911,5.0,32.0,1.0,None,N,35.0,N,N,...,None,0.0,0.0,4.0,0.0,0,0.0,4.0,0.0,Y
60226,234228852925,201911,5.0,80.0,1.0,None,N,50.0,Y,N,...,None,201.0,185.0,157.0,182.0,68,180.0,110.0,179.0,Y

## 2021_1_25的数据

In [12]:
path_2021_1_25 = "data/易访库-回访数据_2021_1_25.xlsx"

In [13]:
df_1_25 = pd.read_excel(path_2021_1_25)

In [14]:
df_1_25

,SOURCE,PROD_ID,CALL_DT,CALL_MONTH,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,...,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,IF_TOUCH
0,HF,234205175419,2019-11-07 17:15:00,201911,4.0,133.0,2.0,N,40.0,N,...,37.82,29.21,160.0,215.0,172.0,156.0,368.0,589.0,265.0,N
1,HF,234205231888,2019-06-07 10:02:00,201906,4.0,128.0,1.0,N,30.0,N,...,-3.23,58.75,344.0,107.0,45.0,86.0,397.0,475.0,310.0,N
2,HF,234205290296,2019-11-20 15:57:00,201911,3.0,132.0,1.0,N,60.0,Y,...,0.96,0.00,66.0,84.0,165.0,5.0,7.0,31.0,33.0,N
3,HF,234205292854,2019-11-20 15:53:00,201911,2.0,132.0,1.0,N,50.0,Y,...,3.99,0.01,24.0,9.0,56.0,15.0,29.0,12.0,14.0,N
4,HF,234205310711,2019-07-08 13:21:00,201907,5.0,128.0,2.0,N,45.0,N,...,2.44,104.58,124.0,172.0,187.0,55.0,151.0,297.0,559.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55615,HF,1062629879943,2019-11-06 10:14:00,201911,3.0,135.0,2.0,N,60.0,N,...,12.66,0.00,78.0,59.0,56.0,47.0,52.0,46.0,48.0,N
55616,HF,1062629900455,2019-11-26 15:50:00,201911,3.0,135.0,2.0,N,70.0,N,...,24.90,0.00,37.0,37.0,49.0,32.0,141.0,64.0,67.0,N
55617,HF,1062630041846,2019-11-26 15:50:00,201911,5.0,135.0,1.0,N,55.0,N,...,31.05,8.60,113.0,123.0,193.0,42.0,62.0,106.0,148.0,N
55618,HF,1062630162397,2019-11-27 16:01:00,201911,3.0,134.0,2.0,N,40.0,N,...,0.92,0.00,95.0,156.0,166.0,66.0,108.0,135.0,114.0,N
55619,HF,1062630283689,2019-11-09 08:57:00,201911,3.0,134.0,1.0,N,65.0,N,...,27.12,0.00,302.0,223.0,246.0,131.0,379.0,304.0,281.0,N

In [19]:
df_1_25.to_sql('2021_1_25', engine, index=False)

In [20]:
sql = "select * from 2021_1_25;"
df_sql_1_25 = pd.read_sql_query(sql, engine)

In [21]:
df_sql_1_25

,SOURCE,PROD_ID,CALL_DT,CALL_MONTH,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,...,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,IF_TOUCH
0,HF,234205175419,2019-11-07 17:15:00,201911,4.0,133.0,2.0,N,40.0,N,...,37.82,29.21,160.0,215.0,172.0,156.0,368.0,589.0,265.0,N
1,HF,234205231888,2019-06-07 10:02:00,201906,4.0,128.0,1.0,N,30.0,N,...,-3.23,58.75,344.0,107.0,45.0,86.0,397.0,475.0,310.0,N
2,HF,234205290296,2019-11-20 15:57:00,201911,3.0,132.0,1.0,N,60.0,Y,...,0.96,0.00,66.0,84.0,165.0,5.0,7.0,31.0,33.0,N
3,HF,234205292854,2019-11-20 15:53:00,201911,2.0,132.0,1.0,N,50.0,Y,...,3.99,0.01,24.0,9.0,56.0,15.0,29.0,12.0,14.0,N
4,HF,234205310711,2019-07-08 13:21:00,201907,5.0,128.0,2.0,N,45.0,N,...,2.44,104.58,124.0,172.0,187.0,55.0,151.0,297.0,559.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55615,HF,1062629879943,2019-11-06 10:14:00,201911,3.0,135.0,2.0,N,60.0,N,...,12.66,0.00,78.0,59.0,56.0,47.0,52.0,46.0,48.0,N
55616,HF,1062629900455,2019-11-26 15:50:00,201911,3.0,135.0,2.0,N,70.0,N,...,24.90,0.00,37.0,37.0,49.0,32.0,141.0,64.0,67.0,N
55617,HF,1062630041846,2019-11-26 15:50:00,201911,5.0,135.0,1.0,N,55.0,N,...,31.05,8.60,113.0,123.0,193.0,42.0,62.0,106.0,148.0,N
55618,HF,1062630162397,2019-11-27 16:01:00,201911,3.0,134.0,2.0,N,40.0,N,...,0.92,0.00,95.0,156.0,166.0,66.0,108.0,135.0,114.0,N
55619,HF,1062630283689,2019-11-09 08:57:00,201911,3.0,134.0,1.0,N,65.0,N,...,27.12,0.00,302.0,223.0,246.0,131.0,379.0,304.0,281.0,N

## 2020-2-26的数据

In [22]:
path_2_26 = "data/20210226_test_10000_631_319.xlsx"

In [23]:
df_2_26 = pd.read_excel(path_2_26)

In [29]:
df_2_26.drop(columns=["Unnamed: 0"], axis=1,inplace=True)

In [30]:
df_2_26

,PROD_ID,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,IF_BRD,IF_DBL_TRMNL,...,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,success,IF_TOUCH
0,234619912755,3.0,22,1,N,30,N,N,Y,Y,...,0.00,9,2.0,8.0,4,5,2.0,22.0,0,0
1,234401899570,5.0,41,2,N,55,N,N,Y,Y,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0,1
2,234420890495,3.0,28,1,N,30,N,N,Y,Y,...,63.02,6,1.0,1.0,0,0,0.0,0.0,0,0
3,234386398120,4.0,51,2,N,45,N,N,Y,N,...,0.00,19,99.0,17.0,8,13,59.0,6.0,0,0
4,234634533836,4.0,18,2,N,45,N,N,Y,Y,...,67.95,0,3.0,9.0,2,2,5.0,4.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,234219457848,5.0,100,1,N,50,N,N,Y,Y,...,0.00,588,476.0,451.0,13,80,185.0,24.0,0,0
9997,234423040411,5.0,27,1,N,30,N,N,Y,N,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0,0
9998,234217300069,4.0,104,1,N,35,N,N,Y,N,...,65.07,227,188.0,149.0,46,159,140.0,202.0,0,0
9999,234380147929,3.0,55,2,N,30,N,N,Y,Y,...,79.58,10,7.0,19.0,3,7,1.0,6.0,0,0
10000,234403427440,4.0,40,1,N,45,N,N,Y,Y,...,0.00,6,0.0,3.0,0,0,0.0,1.0,0,0

In [31]:
df_2_26.to_sql('2021_2_26', engine, index=False)

In [32]:
sql = "select * from 2021_2_26;"
df_sql_2_26 = pd.read_sql_query(sql, engine)

In [33]:
df_sql_2_26

,PROD_ID,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,IF_BRD,IF_DBL_TRMNL,...,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,success,IF_TOUCH
0,234619912755,3.0,22,1,N,30,N,N,Y,Y,...,0.00,9,2.0,8.0,4,5,2.0,22.0,0,0
1,234401899570,5.0,41,2,N,55,N,N,Y,Y,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0,1
2,234420890495,3.0,28,1,N,30,N,N,Y,Y,...,63.02,6,1.0,1.0,0,0,0.0,0.0,0,0
3,234386398120,4.0,51,2,N,45,N,N,Y,N,...,0.00,19,99.0,17.0,8,13,59.0,6.0,0,0
4,234634533836,4.0,18,2,N,45,N,N,Y,Y,...,67.95,0,3.0,9.0,2,2,5.0,4.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,234219457848,5.0,100,1,N,50,N,N,Y,Y,...,0.00,588,476.0,451.0,13,80,185.0,24.0,0,0
9997,234423040411,5.0,27,1,N,30,N,N,Y,N,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0,0
9998,234217300069,4.0,104,1,N,35,N,N,Y,N,...,65.07,227,188.0,149.0,46,159,140.0,202.0,0,0
9999,234380147929,3.0,55,2,N,30,N,N,Y,Y,...,79.58,10,7.0,19.0,3,7,1.0,6.0,0,0
10000,234403427440,4.0,40,1,N,45,N,N,Y,Y,...,0.00,6,0.0,3.0,0,0,0.0,1.0,0,0

## 2021_5_19数据

In [40]:
path_5_19 = "data/易访库20210519.xls"

In [41]:
df_5_19 = pd.read_excel(path_5_19)

In [42]:
df_5_19

,PROD_ID,TOUCH_FLAG,CALL_TIME,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,...,CALL_NET_DRTN02,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02
0,2.344048e+11,接通成功,2021-04-09 10:42:05,4.0,42.0,1.0,N,30.0,N,N,...,16531.0,1.53,74.13,450.0,362.0,445.0,268.0,459.0,293.0,701.0
1,2.342082e+11,拨打未接通,2021-04-09 10:42:05,5.0,137.0,1.0,N,60.0,N,N,...,15469.0,1.85,92.75,542.0,556.0,419.0,184.0,400.0,600.0,600.0
2,2.342065e+11,接通成功,2021-04-09 10:39:03,5.0,143.0,2.0,N,40.0,N,N,...,2156.0,1.28,56.33,52.0,106.0,109.0,45.0,60.0,160.0,78.0
3,2.343997e+11,拨打未接通,2021-04-09 10:39:03,4.0,46.0,1.0,N,30.0,N,N,...,760.0,-17.70,60.11,204.0,133.0,28.0,166.0,270.0,122.0,29.0
4,2.346437e+11,接通成功,2021-04-09 10:35:31,3.0,18.0,1.0,N,25.0,N,N,...,799.0,1.20,65.41,10.0,43.0,13.0,2.0,3.0,16.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22538,2.342304e+11,接通成功,2021-04-10 09:07:05,5.0,97.0,1.0,N,45.0,N,N,...,2308.0,0.97,46.72,104.0,29.0,93.0,33.0,121.0,36.0,61.0
22539,2.342278e+11,接通成功,2021-04-10 09:15:48,4.0,98.0,1.0,N,25.0,N,N,...,3030.0,2.30,111.84,140.0,114.0,174.0,71.0,146.0,113.0,132.0
22540,2.343453e+11,接通成功,2021-04-10 09:14:21,4.0,74.0,1.0,N,50.0,N,N,...,8116.0,2.06,94.08,52.0,116.0,99.0,76.0,134.0,243.0,196.0
22541,2.342222e+11,接通成功,2021-04-10 09:19:26,4.0,99.0,1.0,N,45.0,N,N,...,1597.0,2.30,105.54,163.0,111.0,158.0,54.0,139.0,70.0,94.0
22542,2.346657e+11,接通成功,2021-04-09 17:20:45,1.0,10.0,1.0,N,55.0,N,N,...,248.0,0.55,29.80,47.0,16.0,40.0,31.0,55.0,21.0,20.0

In [43]:
df_5_19.to_sql('2021_5_19', engine, index=False)

In [44]:
sql = "select * from 2021_5_19;"
df_sql_5_19 = pd.read_sql_query(sql, engine)

In [45]:
df_sql_5_19

,PROD_ID,TOUCH_FLAG,CALL_TIME,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,...,CALL_NET_DRTN02,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02
0,2.344048e+11,接通成功,2021-04-09 10:42:05,4.0,42.0,1.0,N,30.0,N,N,...,16531.0,1.53,74.13,450.0,362.0,445.0,268.0,459.0,293.0,701.0
1,2.342082e+11,拨打未接通,2021-04-09 10:42:05,5.0,137.0,1.0,N,60.0,N,N,...,15469.0,1.85,92.75,542.0,556.0,419.0,184.0,400.0,600.0,600.0
2,2.342065e+11,接通成功,2021-04-09 10:39:03,5.0,143.0,2.0,N,40.0,N,N,...,2156.0,1.28,56.33,52.0,106.0,109.0,45.0,60.0,160.0,78.0
3,2.343997e+11,拨打未接通,2021-04-09 10:39:03,4.0,46.0,1.0,N,30.0,N,N,...,760.0,-17.70,60.11,204.0,133.0,28.0,166.0,270.0,122.0,29.0
4,2.346437e+11,接通成功,2021-04-09 10:35:31,3.0,18.0,1.0,N,25.0,N,N,...,799.0,1.20,65.41,10.0,43.0,13.0,2.0,3.0,16.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22538,2.342304e+11,接通成功,2021-04-10 09:07:05,5.0,97.0,1.0,N,45.0,N,N,...,2308.0,0.97,46.72,104.0,29.0,93.0,33.0,121.0,36.0,61.0
22539,2.342278e+11,接通成功,2021-04-10 09:15:48,4.0,98.0,1.0,N,25.0,N,N,...,3030.0,2.30,111.84,140.0,114.0,174.0,71.0,146.0,113.0,132.0
22540,2.343453e+11,接通成功,2021-04-10 09:14:21,4.0,74.0,1.0,N,50.0,N,N,...,8116.0,2.06,94.08,52.0,116.0,99.0,76.0,134.0,243.0,196.0
22541,2.342222e+11,接通成功,2021-04-10 09:19:26,4.0,99.0,1.0,N,45.0,N,N,...,1597.0,2.30,105.54,163.0,111.0,158.0,54.0,139.0,70.0,94.0
22542,2.346657e+11,接通成功,2021-04-09 17:20:45,1.0,10.0,1.0,N,55.0,N,N,...,248.0,0.55,29.80,47.0,16.0,40.0,31.0,55.0,21.0,20.0

# 数据合并

In [179]:
# 初始化数据库连接，使用pymysql模块
# MySQL的用户：root, 密码:147369, 端口：3306,数据库：mydb
engine = create_engine('mysql+pymysql://root:123456@159.75.89.42:3306/easy_call_db')

In [3]:
# 根据表名从数据库中读取表数据
def read_data_sql(table_name):
    str_sql = "select * from " + table_name + ";"
    df_res = pd.read_sql_query(str_sql, engine)
    return df_res

In [4]:
# 当前项目已有的数据，按获得日期命名
table_names = ['2021_1_06', '2021_1_25', '2021_2_26', '2021_5_19']

读取已有的数据

In [71]:
df_1_06 = read_data_sql('2021_1_06')

In [6]:
df_1_25 = read_data_sql('2021_1_25')

In [7]:
df_2_26 = read_data_sql('2021_2_26')

In [8]:
df_5_19 = read_data_sql('2021_5_19')

In [20]:
df_map = {"1_06": df_1_06,"1_25": df_1_25, "2_26": df_2_26, "5_19": df_5_19}

In [60]:
def process_tags_map():
    tags_map = {}
    # 统计当前所有表的标签各自的数量
    for key, value in df_map.items():
        for colume_name in value.columns:
            if colume_name not in tags_map.keys():
                temp_list = []
                tags_map[colume_name] = [1, key]
            else:
                tags_map[colume_name][0] += 1
                tags_map[colume_name].append(key)
    return tags_map

In [22]:
tags_map

{'PROD_ID': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_MONTH': [2, '1_06', '1_25'],
 'VIP_LEVEL': [4, '1_06', '1_25', '2_26', '5_19'],
 'ONLINE_MONTH': [4, '1_06', '1_25', '2_26', '5_19'],
 'GENDER': [4, '1_06', '1_25', '2_26', '5_19'],
 'TS_TIMES': [1, '1_06'],
 'IF_BLACK': [4, '1_06', '1_25', '2_26', '5_19'],
 'AGE_SEG': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_GROUP': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_SCHOOL': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_BRD': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_DBL_TRMNL': [4, '1_06', '1_25', '2_26', '5_19'],
 'TRMNL_AGE': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_4G_TRMNL': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_VOLTE': [4, '1_06', '1_25', '2_26', '5_19'],
 'BRD_RAX': [4, '1_06', '1_25', '2_26', '5_19'],
 'BRD_ACTIVE_DAYS': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_ITV': [4, '1_06', '1_25', '2_26', '5_19'],
 'VOLTE_DRTN': [1, '1_06'],
 'CHRG': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT01': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT02': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN01': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN02': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV01': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV02': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_5G': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_4G': [4, '1_06', '1_25', '2_26', '5_19'],
 'SMS_COUNT': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLING_NET_COUNT': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_NET_DRTN': [4, '1_06', '1_25', '2_26', '5_19'],
 'VOICE_CHRG': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_CHRG': [4, '1_06', '1_25', '2_26', '5_19'],
 'ACCU_RATE': [1, '1_06'],
 'CALLED_DRTN': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN01': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN02': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN03': [1, '1_06'],
 'CALL_COUNT': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLING_DRTN01': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLING_DRTN02': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLING_DRTN03': [1, '1_06'],
 'IF_TOUCH': [3, '1_06', '1_25', '2_26'],
 'SOURCE': [1, '1_25'],
 'CALL_DT': [1, '1_25'],
 'CARD_3G_F': [3, '1_25', '2_26', '5_19'],
 'CHRG01': [3, '1_25', '2_26', '5_19'],
 'CHRG02': [3, '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV01': [3, '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV02': [3, '1_25', '2_26', '5_19'],
 'CALL_NET_DRTN01': [3, '1_25', '2_26', '5_19'],
 'CALL_NET_DRTN02': [3, '1_25', '2_26', '5_19'],
 'CALLING_DRTN': [3, '1_25', '2_26', '5_19'],
 'success': [1, '2_26'],
 'TOUCH_FLAG': [1, '5_19'],
 'CALL_TIME': [1, '5_19']}

In [24]:
tags_4_map = {}
tags_3_map = {}
tags_2_map = {}
tags_1_map = {}
for key, value in tags_map.items():
    if value[0] == 4:
        tags_4_map[key] = value[1:]
    if value[0] == 3:
        tags_3_map[key] = value[1:]
    if value[0] == 2:
        tags_2_map[key] = value[1:]
    if value[0] == 1:
        tags_1_map[key] = value[1:]

In [25]:
tags_1_map

{'TS_TIMES': ['1_06'],
 'VOLTE_DRTN': ['1_06'],
 'ACCU_RATE': ['1_06'],
 'CALLED_DRTN03': ['1_06'],
 'CALLING_DRTN03': ['1_06'],
 'SOURCE': ['1_25'],
 'CALL_DT': ['1_25'],
 'success': ['2_26'],
 'TOUCH_FLAG': ['5_19'],
 'CALL_TIME': ['5_19']}

In [26]:
tags_2_map

{'CALL_MONTH': ['1_06', '1_25']}

In [27]:
tags_3_map

{'IF_TOUCH': ['1_06', '1_25', '2_26'],
 'CARD_3G_F': ['1_25', '2_26', '5_19'],
 'CHRG01': ['1_25', '2_26', '5_19'],
 'CHRG02': ['1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV01': ['1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV02': ['1_25', '2_26', '5_19'],
 'CALL_NET_DRTN01': ['1_25', '2_26', '5_19'],
 'CALL_NET_DRTN02': ['1_25', '2_26', '5_19'],
 'CALLING_DRTN': ['1_25', '2_26', '5_19']}

# 统一列名

In [72]:
# 删除1_06无用列
df_1_06.drop(columns=['ACCU_RATE', 'CALLED_DRTN03', 'CALLING_DRTN03', 'VOLTE_DRTN', 'TS_TIMES'],inplace=True)

In [73]:
df_1_06.drop(columns=['CALL_MONTH'], inplace=True)

In [35]:
# 删除1_06，1_25的CALL_MONTH
df_1_06.drop(columns=['CALL_MONTH'], inplace=True)
df_1_25.drop(columns=['CALL_MONTH'], inplace=True)

In [34]:
# 修改1_25拨打时间标签为CALL_TIME
df_1_25.rename(columns={"CALL_DT": "CALL_TIME"}, inplace=True)

In [36]:
# 删除1_25的SOURCE
df_1_25.drop(columns=['SOURCE'], inplace=True)

In [37]:
# 删除2_26的success
df_2_26.drop(columns=['success'], inplace=True)

In [74]:
# 统一IF_TOUCH标签为0,1分布
df_1_06.loc[df_1_06['IF_TOUCH']=='Y', 'IF_TOUCH'] = 1
df_1_06.loc[df_1_06['IF_TOUCH']=='N', 'IF_TOUCH'] = 0

In [45]:
df_1_25.loc[df_1_25['IF_TOUCH']=='Y', 'IF_TOUCH'] = 1
df_1_25.loc[df_1_25['IF_TOUCH']=='N', 'IF_TOUCH'] = 0

In [50]:
df_5_19.loc[df_5_19['TOUCH_FLAG']=='接通成功', 'IF_TOUCH'] = 1
df_5_19.loc[df_5_19['TOUCH_FLAG']=='接通不成功', 'IF_TOUCH'] = 0
df_5_19.loc[df_5_19['TOUCH_FLAG']=='拨打未接通', 'IF_TOUCH'] = 0

In [54]:
# 删除5_19原本的标签
df_5_19.drop(columns=['TOUCH_FLAG'], inplace=True)

In [57]:
df_5_19.IF_TOUCH = df_5_19.IF_TOUCH.astype(int)

In [80]:
new_tags_map = process_tags_map()

In [81]:
new_tags_map

{'PROD_ID': [4, '1_06', '1_25', '2_26', '5_19'],
 'VIP_LEVEL': [4, '1_06', '1_25', '2_26', '5_19'],
 'ONLINE_MONTH': [4, '1_06', '1_25', '2_26', '5_19'],
 'GENDER': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_BLACK': [4, '1_06', '1_25', '2_26', '5_19'],
 'AGE_SEG': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_GROUP': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_SCHOOL': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_BRD': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_DBL_TRMNL': [4, '1_06', '1_25', '2_26', '5_19'],
 'TRMNL_AGE': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_4G_TRMNL': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_VOLTE': [4, '1_06', '1_25', '2_26', '5_19'],
 'BRD_RAX': [4, '1_06', '1_25', '2_26', '5_19'],
 'BRD_ACTIVE_DAYS': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_ITV': [4, '1_06', '1_25', '2_26', '5_19'],
 'CHRG': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT01': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT02': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN01': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN02': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV01': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV02': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_5G': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_4G': [4, '1_06', '1_25', '2_26', '5_19'],
 'SMS_COUNT': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLING_NET_COUNT': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_NET_DRTN': [4, '1_06', '1_25', '2_26', '5_19'],
 'VOICE_CHRG': [4, '1_06', '1_25', '2_26', '5_19'],
 'DATA_CHRG': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN01': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN02': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_COUNT': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLING_DRTN01': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALLING_DRTN02': [4, '1_06', '1_25', '2_26', '5_19'],
 'IF_TOUCH': [4, '1_06', '1_25', '2_26', '5_19'],
 'CALL_TIME': [2, '1_25', '5_19'],
 'CARD_3G_F': [3, '1_25', '2_26', '5_19'],
 'CHRG01': [3, '1_25', '2_26', '5_19'],
 'CHRG02': [3, '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV01': [3, '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV02': [3, '1_25', '2_26', '5_19'],
 'CALL_NET_DRTN01': [3, '1_25', '2_26', '5_19'],
 'CALL_NET_DRTN02': [3, '1_25', '2_26', '5_19'],
 'CALLING_DRTN': [3, '1_25', '2_26', '5_19']}

In [82]:
tags_4_map = {}
tags_3_map = {}
tags_2_map = {}
tags_1_map = {}
for key, value in new_tags_map.items():
    if value[0] == 4:
        tags_4_map[key] = value[1:]
    if value[0] == 3:
        tags_3_map[key] = value[1:]
    if value[0] == 2:
        tags_2_map[key] = value[1:]
    if value[0] == 1:
        tags_1_map[key] = value[1:]

In [111]:
tags_4_map

{'PROD_ID': ['1_06', '1_25', '2_26', '5_19'],
 'VIP_LEVEL': ['1_06', '1_25', '2_26', '5_19'],
 'ONLINE_MONTH': ['1_06', '1_25', '2_26', '5_19'],
 'GENDER': ['1_06', '1_25', '2_26', '5_19'],
 'IF_BLACK': ['1_06', '1_25', '2_26', '5_19'],
 'AGE_SEG': ['1_06', '1_25', '2_26', '5_19'],
 'IF_GROUP': ['1_06', '1_25', '2_26', '5_19'],
 'IF_SCHOOL': ['1_06', '1_25', '2_26', '5_19'],
 'IF_BRD': ['1_06', '1_25', '2_26', '5_19'],
 'IF_DBL_TRMNL': ['1_06', '1_25', '2_26', '5_19'],
 'TRMNL_AGE': ['1_06', '1_25', '2_26', '5_19'],
 'IF_4G_TRMNL': ['1_06', '1_25', '2_26', '5_19'],
 'IF_VOLTE': ['1_06', '1_25', '2_26', '5_19'],
 'BRD_RAX': ['1_06', '1_25', '2_26', '5_19'],
 'BRD_ACTIVE_DAYS': ['1_06', '1_25', '2_26', '5_19'],
 'IF_ITV': ['1_06', '1_25', '2_26', '5_19'],
 'CHRG': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT01': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT02': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN01': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN02': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV01': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV02': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_5G': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_4G': ['1_06', '1_25', '2_26', '5_19'],
 'SMS_COUNT': ['1_06', '1_25', '2_26', '5_19'],
 'CALLING_NET_COUNT': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_NET_DRTN': ['1_06', '1_25', '2_26', '5_19'],
 'VOICE_CHRG': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_CHRG': ['1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN': ['1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN01': ['1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN02': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_COUNT': ['1_06', '1_25', '2_26', '5_19'],
 'CALLING_DRTN01': ['1_06', '1_25', '2_26', '5_19'],
 'CALLING_DRTN02': ['1_06', '1_25', '2_26', '5_19'],
 'IF_TOUCH': ['1_06', '1_25', '2_26', '5_19']}

In [83]:
tags_3_map

{'CARD_3G_F': ['1_25', '2_26', '5_19'],
 'CHRG01': ['1_25', '2_26', '5_19'],
 'CHRG02': ['1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV01': ['1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV02': ['1_25', '2_26', '5_19'],
 'CALL_NET_DRTN01': ['1_25', '2_26', '5_19'],
 'CALL_NET_DRTN02': ['1_25', '2_26', '5_19'],
 'CALLING_DRTN': ['1_25', '2_26', '5_19']}

In [84]:
tags_2_map

{'CALL_TIME': ['1_25', '5_19']}

In [120]:
tags_1_map

{}

In [77]:
df_1_06.dropna(axis=0, how='all', inplace=True)

存储改完列名的数据进入数据库，用p开头，表明processed，已处理过

In [90]:
df_1_06.to_sql('p_2021_1_06', engine, index=False)

In [91]:
df_1_25.to_sql('p_2021_1_25', engine, index=False)

In [92]:
df_2_26.to_sql('p_2021_2_26', engine, index=False)

In [95]:
df_5_19.to_sql('p_2021_5_19', engine, index=False)

## 填充缺失数据

重新从数据库中读取处理

In [101]:
df_1_06 = read_data_sql('p_2021_1_06')

In [102]:
df_1_25 = read_data_sql('p_2021_1_25')

In [103]:
df_2_26 = read_data_sql('p_2021_2_26')

In [104]:
df_5_19 = read_data_sql('p_2021_5_19')

In [105]:
df_1_06.isnull().sum()

PROD_ID                          0
VIP_LEVEL                     9261
ONLINE_MONTH                  2440
GENDER                        8039
IF_BLACK                         0
AGE_SEG                       8039
IF_GROUP                      2440
IF_SCHOOL                     2440
IF_BRD                        1080
IF_DBL_TRMNL                     0
TRMNL_AGE                     4375
IF_4G_TRMNL                   2440
IF_VOLTE                         0
BRD_RAX                      18386
BRD_ACTIVE_DAYS              23827
IF_ITV                           0
CHRG                          2489
DATA_FLOW_AMNT                2440
DATA_FLOW_AMNT01              2451
DATA_FLOW_AMNT02              2639
CALL_DRTN                     2440
CALL_DRTN01                   2451
CALL_DRTN02                   2639
DATA_FLOW_AMNT_PRV            2440
DATA_FLOW_AMNT_ROAM_PRV       2440
DATA_FLOW_AMNT_ROAM_PRV01     2451
DATA_FLOW_AMNT_ROAM_PRV02     2639
DATA_FLOW_AMNT_5G            59427
DATA_FLOW_AMNT_4G             2440
SMS_COUNT                     2440
CALLING_NET_COUNT             3299
CALL_NET_DRTN                 3299
VOICE_CHRG                     117
DATA_CHRG                      117
CALLED_DRTN                   2440
CALLED_DRTN01                 2451
CALLED_DRTN02                 2639
CALL_COUNT                       0
CALLING_DRTN01                2451
CALLING_DRTN02                2639
IF_TOUCH                         0
dtype: int64

In [110]:
df_1_25.isnull().sum()

PROD_ID                          0
CALL_TIME                        0
VIP_LEVEL                    11083
ONLINE_MONTH                    11
GENDER                        5602
IF_BLACK                         0
AGE_SEG                       5602
IF_GROUP                        11
IF_SCHOOL                       11
IF_BRD                           0
IF_DBL_TRMNL                     0
TRMNL_AGE                     2025
IF_4G_TRMNL                     11
IF_VOLTE                         0
BRD_RAX                      15748
CARD_3G_F                    10026
BRD_ACTIVE_DAYS              21073
IF_ITV                           0
CHRG                            62
CHRG01                         271
CHRG02                         809
DATA_FLOW_AMNT                  11
DATA_FLOW_AMNT01               199
DATA_FLOW_AMNT02               635
CALL_DRTN                       11
CALL_DRTN01                    199
CALL_DRTN02                    635
DATA_FLOW_AMNT_PRV              11
DATA_FLOW_AMNT_PRV01           199
DATA_FLOW_AMNT_PRV02           635
DATA_FLOW_AMNT_ROAM_PRV         11
DATA_FLOW_AMNT_ROAM_PRV01      199
DATA_FLOW_AMNT_ROAM_PRV02      635
DATA_FLOW_AMNT_5G            55620
DATA_FLOW_AMNT_4G               11
SMS_COUNT                       11
CALLING_NET_COUNT             4131
CALL_NET_DRTN                 4131
CALL_NET_DRTN01               4504
CALL_NET_DRTN02               5261
VOICE_CHRG                    2037
DATA_CHRG                     2037
CALLED_DRTN                     11
CALLED_DRTN01                  199
CALLED_DRTN02                  635
CALL_COUNT                      11
CALLING_DRTN                    11
CALLING_DRTN01                 199
CALLING_DRTN02                 635
IF_TOUCH                         0
dtype: int64

In [107]:
df_2_26.isnull().sum()

PROD_ID                         0
VIP_LEVEL                      47
ONLINE_MONTH                    0
GENDER                          0
IF_BLACK                        0
AGE_SEG                         0
IF_GROUP                        0
IF_SCHOOL                       0
IF_BRD                          0
IF_DBL_TRMNL                    0
TRMNL_AGE                     861
IF_4G_TRMNL                     0
IF_VOLTE                        0
BRD_RAX                         0
CARD_3G_F                     356
BRD_ACTIVE_DAYS               562
IF_ITV                          0
CHRG                           15
CHRG01                        193
CHRG02                        311
DATA_FLOW_AMNT                  0
DATA_FLOW_AMNT01              176
DATA_FLOW_AMNT02              292
CALL_DRTN                       0
CALL_DRTN01                   176
CALL_DRTN02                   292
DATA_FLOW_AMNT_PRV              0
DATA_FLOW_AMNT_PRV01          176
DATA_FLOW_AMNT_PRV02          292
DATA_FLOW_AMNT_ROAM_PRV         0
DATA_FLOW_AMNT_ROAM_PRV01     176
DATA_FLOW_AMNT_ROAM_PRV02     292
DATA_FLOW_AMNT_5G               0
DATA_FLOW_AMNT_4G               0
SMS_COUNT                       0
CALLING_NET_COUNT            2032
CALL_NET_DRTN                2032
CALL_NET_DRTN01              2219
CALL_NET_DRTN02              2246
VOICE_CHRG                     15
DATA_CHRG                      15
CALLED_DRTN                     0
CALLED_DRTN01                 176
CALLED_DRTN02                 292
CALL_COUNT                      0
CALLING_DRTN                    0
CALLING_DRTN01                176
CALLING_DRTN02                292
IF_TOUCH                        0
dtype: int64

In [108]:
df_5_19.isnull().sum()

PROD_ID                       130
CALL_TIME                       0
VIP_LEVEL                     241
ONLINE_MONTH                  130
GENDER                        168
IF_BLACK                        0
AGE_SEG                       168
IF_GROUP                      130
IF_SCHOOL                     130
IF_BRD                          0
IF_DBL_TRMNL                    0
TRMNL_AGE                     831
IF_4G_TRMNL                   130
IF_VOLTE                        0
BRD_RAX                      1950
CARD_3G_F                     144
BRD_ACTIVE_DAYS              3881
IF_ITV                          0
CHRG                          135
CHRG01                        130
CHRG02                        131
DATA_FLOW_AMNT                130
DATA_FLOW_AMNT01              130
DATA_FLOW_AMNT02              130
CALL_DRTN                     130
CALL_DRTN01                   130
CALL_DRTN02                   130
DATA_FLOW_AMNT_PRV            130
DATA_FLOW_AMNT_PRV01          130
DATA_FLOW_AMNT_PRV02          130
DATA_FLOW_AMNT_ROAM_PRV       130
DATA_FLOW_AMNT_ROAM_PRV01     130
DATA_FLOW_AMNT_ROAM_PRV02     130
DATA_FLOW_AMNT_5G             130
DATA_FLOW_AMNT_4G             130
SMS_COUNT                     130
CALLING_NET_COUNT            1133
CALL_NET_DRTN                1133
CALL_NET_DRTN01               775
CALL_NET_DRTN02               930
VOICE_CHRG                    135
DATA_CHRG                     135
CALLED_DRTN                   130
CALLED_DRTN01                 130
CALLED_DRTN02                 130
CALL_COUNT                    130
CALLING_DRTN                  130
CALLING_DRTN01                130
CALLING_DRTN02                130
IF_TOUCH                        0
dtype: int64

In [114]:
pd.set_option('display.max_columns', None)

In [116]:
df_5_19.head(5)

,PROD_ID,CALL_TIME,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,IF_BRD,IF_DBL_TRMNL,TRMNL_AGE,IF_4G_TRMNL,IF_VOLTE,BRD_RAX,CARD_3G_F,BRD_ACTIVE_DAYS,IF_ITV,CHRG,CHRG01,CHRG02,DATA_FLOW_AMNT,DATA_FLOW_AMNT01,DATA_FLOW_AMNT02,CALL_DRTN,CALL_DRTN01,CALL_DRTN02,DATA_FLOW_AMNT_PRV,DATA_FLOW_AMNT_PRV01,DATA_FLOW_AMNT_PRV02,DATA_FLOW_AMNT_ROAM_PRV,DATA_FLOW_AMNT_ROAM_PRV01,DATA_FLOW_AMNT_ROAM_PRV02,DATA_FLOW_AMNT_5G,DATA_FLOW_AMNT_4G,SMS_COUNT,CALLING_NET_COUNT,CALL_NET_DRTN,CALL_NET_DRTN01,CALL_NET_DRTN02,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,IF_TOUCH
0,2.344048e+11,2021-04-09 10:42:05,4.0,42.0,1.0,N,30.0,N,N,Y,N,33.0,Y,Y,200.0,3.0,1.0,Y,94.13,94.13,100.53,5305.19,3900.09,94.08,909.0,655.0,1146.0,0.00,0.00,0.0,0.00,0.0,0.0,0.00,5305.19,0.0,168.0,11404.0,6566.0,16531.0,1.53,74.13,450.0,362.0,445.0,268.0,459.0,293.0,701.0,1
1,2.342082e+11,2021-04-09 10:42:05,5.0,137.0,1.0,N,60.0,N,N,Y,N,9.0,Y,Y,300.0,3.0,1.0,Y,118.65,118.65,119.28,18623.48,27232.31,24218.79,942.0,1156.0,1019.0,240.66,7535.33,0.0,0.00,377.3,0.0,0.00,18623.48,0.0,97.0,11764.0,16905.0,15469.0,1.85,92.75,542.0,556.0,419.0,184.0,400.0,600.0,600.0,0
2,2.342065e+11,2021-04-09 10:39:03,5.0,143.0,2.0,N,40.0,N,N,Y,N,5.0,N,Y,300.0,3.0,1.0,Y,64.10,64.10,64.52,54023.55,23097.96,38026.03,112.0,266.0,187.0,0.00,0.00,0.0,0.00,0.0,0.0,1529.29,52494.26,0.0,28.0,1291.0,3888.0,2156.0,1.28,56.33,52.0,106.0,109.0,45.0,60.0,160.0,78.0,1
3,2.343997e+11,2021-04-09 10:39:03,4.0,46.0,1.0,N,30.0,N,N,Y,N,38.0,Y,Y,100.0,1.0,NaN,Y,53.10,52.80,53.10,20672.61,18543.69,21533.12,474.0,255.0,57.0,760.19,0.00,0.0,0.00,0.0,0.0,0.00,20672.61,3.0,98.0,7428.0,4160.0,760.0,-17.70,60.11,204.0,133.0,28.0,166.0,270.0,122.0,29.0,0
4,2.346437e+11,2021-04-09 10:35:31,3.0,18.0,1.0,N,25.0,N,N,Y,N,18.0,Y,Y,200.0,3.0,3.0,N,71.02,71.22,71.80,18372.11,31716.32,28598.35,13.0,59.0,33.0,2622.41,365.42,0.0,830.17,0.0,0.0,0.00,18372.03,0.0,4.0,96.0,256.0,799.0,1.20,65.41,10.0,43.0,13.0,2.0,3.0,16.0,20.0,1

In [117]:
# 需要用众数处理的列标签
mode_tags = ['VIP_LEVEL', 'GENDER', 'IF_BLACK', 'IF_GROUP', 'IF_SCHOOL', 'IF_BRD',
             'IF_DBL_TRMNL', 'IF_4G_TRMNL', 'IF_VOLTE', 'CARD_3G_F', 'IF_ITV']

In [118]:
# 需要取保整数的列标签
round_tags = ['VIP_LEVEL', 'ONLINE_MONTH', 'GENDER', 'AGE_SEG', 'TRMNL_AGE', 'BRD_ACTIVE_DAYS', 
             'SMS_COUNT', 'CALL_COUNT']

In [121]:
# 不用处理的标签
jump_tags = ['PROD_ID', 'CALL_TIME', 'IF_TOUCH']

In [119]:
df_map = {"1_06": df_1_06,"1_25": df_1_25, "2_26": df_2_26, "5_19": df_5_19}

In [139]:
for colume in df_1_06.columns:
    if colume in jump_tags:
        continue
    if colume in mode_tags:
        # 众数填充空值，默认取第一个众数
        df_1_06.fillna({colume: df_1_06[colume].mode()[0]}, inplace=True)
    else:
        df_1_06.fillna({colume: df_1_06[colume].mean()}, inplace=True)
    if colume in round_tags:
        df_1_06[colume] = df_1_06[colume].astype(int)

In [134]:
# 1_06的VIP_LEVEL的99为空值
df_1_06.loc[df_1_06['VIP_LEVEL'] == 99, 'VIP_LEVEL'] = np.nan

In [143]:
def fill_na(df_list):
    for colume in df_list.columns:
        if colume in jump_tags:
            continue
        if colume in mode_tags:
            # 众数填充空值，默认取第一个众数
            df_list.fillna({colume: df_list[colume].mode()[0]}, inplace=True)
        else:
            df_list.fillna({colume: df_list[colume].mean()}, inplace=True)
        if colume in round_tags:
            df_list[colume] = df_list[colume].astype(int)

In [144]:
fill_na(df_1_25)

In [146]:
fill_na(df_2_26)

In [147]:
fill_na(df_5_19)

In [151]:
# 只有1_25的DATA_FLOW_AMNT_5G为空
df_1_25.drop(columns=['DATA_FLOW_AMNT_5G'], inplace=True)

将填充完空值的数据放入数据库，开通用p_f，表示对处理后的数据填充完成的数据表

In [153]:
df_1_06.to_sql('p_f_2021_1_06', engine, index=False)

In [154]:
df_1_25.to_sql('p_f_2021_1_25', engine, index=False)

In [155]:
df_2_26.to_sql('p_f_2021_2_26', engine, index=False)

In [180]:
df_5_19.to_sql('p_f_2021_5_19', engine, index=False)

In [160]:
df_1_06 = read_data_sql('p_f_2021_1_06')

In [161]:
df_1_25 = read_data_sql('p_f_2021_1_25')

In [162]:
df_2_26 = read_data_sql('p_f_2021_2_26')

In [181]:
df_5_19 = read_data_sql('p_f_2021_5_19')

In [182]:
df_5_19

,PROD_ID,CALL_TIME,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,IF_BRD,IF_DBL_TRMNL,TRMNL_AGE,IF_4G_TRMNL,IF_VOLTE,BRD_RAX,CARD_3G_F,BRD_ACTIVE_DAYS,IF_ITV,CHRG,CHRG01,CHRG02,DATA_FLOW_AMNT,DATA_FLOW_AMNT01,DATA_FLOW_AMNT02,CALL_DRTN,CALL_DRTN01,CALL_DRTN02,DATA_FLOW_AMNT_PRV,DATA_FLOW_AMNT_PRV01,DATA_FLOW_AMNT_PRV02,DATA_FLOW_AMNT_ROAM_PRV,DATA_FLOW_AMNT_ROAM_PRV01,DATA_FLOW_AMNT_ROAM_PRV02,DATA_FLOW_AMNT_5G,DATA_FLOW_AMNT_4G,SMS_COUNT,CALLING_NET_COUNT,CALL_NET_DRTN,CALL_NET_DRTN01,CALL_NET_DRTN02,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,IF_TOUCH
0,2.344048e+11,2021-04-09 10:42:05,4,42,1,N,30,N,N,Y,N,33,Y,Y,200.0,3.0,1,Y,94.13,94.13,100.53,5305.19,3900.09,94.08,909.0,655.0,1146.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,5305.19,0,168.0,11404.0,6566.0,16531.0,1.53,74.13,450.0,362.0,445.0,268,459.0,293.0,701.0,1
1,2.342082e+11,2021-04-09 10:42:05,5,137,1,N,60,N,N,Y,N,9,Y,Y,300.0,3.0,1,Y,118.65,118.65,119.28,18623.48,27232.31,24218.79,942.0,1156.0,1019.0,240.66,7535.33,0.00,0.00,377.30,0.0,0.00,18623.48,0,97.0,11764.0,16905.0,15469.0,1.85,92.75,542.0,556.0,419.0,184,400.0,600.0,600.0,0
2,2.342065e+11,2021-04-09 10:39:03,5,143,2,N,40,N,N,Y,N,5,N,Y,300.0,3.0,1,Y,64.10,64.10,64.52,54023.55,23097.96,38026.03,112.0,266.0,187.0,0.00,0.00,0.00,0.00,0.00,0.0,1529.29,52494.26,0,28.0,1291.0,3888.0,2156.0,1.28,56.33,52.0,106.0,109.0,45,60.0,160.0,78.0,1
3,2.343997e+11,2021-04-09 10:39:03,4,46,1,N,30,N,N,Y,N,38,Y,Y,100.0,1.0,4,Y,53.10,52.80,53.10,20672.61,18543.69,21533.12,474.0,255.0,57.0,760.19,0.00,0.00,0.00,0.00,0.0,0.00,20672.61,3,98.0,7428.0,4160.0,760.0,-17.70,60.11,204.0,133.0,28.0,166,270.0,122.0,29.0,0
4,2.346437e+11,2021-04-09 10:35:31,3,18,1,N,25,N,N,Y,N,18,Y,Y,200.0,3.0,3,N,71.02,71.22,71.80,18372.11,31716.32,28598.35,13.0,59.0,33.0,2622.41,365.42,0.00,830.17,0.00,0.0,0.00,18372.03,0,4.0,96.0,256.0,799.0,1.20,65.41,10.0,43.0,13.0,2,3.0,16.0,20.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22408,2.342304e+11,2021-04-10 09:07:05,5,97,1,N,45,N,N,Y,N,1,N,Y,500.0,3.0,1,Y,55.73,55.23,55.97,17565.24,15009.79,20841.20,225.0,65.0,154.0,0.00,0.00,0.00,17565.24,15009.79,20841.2,0.00,17558.12,0,17.0,265.0,351.0,2308.0,0.97,46.72,104.0,29.0,93.0,33,121.0,36.0,61.0,1
22409,2.342278e+11,2021-04-10 09:15:48,4,98,1,N,25,N,N,Y,N,55,Y,Y,200.0,3.0,3,Y,121.52,114.84,114.84,18383.89,20764.84,21052.78,286.0,227.0,306.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,18383.89,0,38.0,4108.0,3177.0,3030.0,2.30,111.84,140.0,114.0,174.0,71,146.0,113.0,132.0,1
22410,2.343453e+11,2021-04-10 09:14:21,4,74,1,N,50,N,N,Y,N,0,N,Y,200.0,1.0,1,Y,116.34,116.26,116.24,5509.78,2332.17,5675.05,186.0,359.0,295.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,5508.55,0,47.0,3851.0,7585.0,8116.0,2.06,94.08,52.0,116.0,99.0,76,134.0,243.0,196.0,1
22411,2.342222e+11,2021-04-10 09:19:26,4,99,1,N,45,N,N,Y,N,38,Y,Y,200.0,3.0,2,Y,114.83,114.82,114.82,8598.78,8174.34,5833.56,302.0,181.0,252.0,0.00,0.00,272.46,0.00,0.00,0.0,0.00,8598.78,0,35.0,1689.0,1099.0,1597.0,2.30,105.54,163.0,111.0,158.0,54,139.0,70.0,94.0,1
22412,2.346657e+11,2021-04-09 17:20:45,1,10,1,N,55,N,N,Y,N,10,Y,Y,100.0,3.0,2,Y,35.34,35.33,35.51,2832.86,981.07,1453.72,102.0,37.0,60.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,2832.86,0,20.0,1329.0,458.0,248.0,0.55,29.80,47.0,16.0,40.0,31,55.0,21.0,20.0,1

In [175]:
# 删除5_19的id为空的行
df_5_19.dropna(axis=0, how='any', inplace=True)

## 拼接

In [183]:
df_map = {"1_06": df_1_06,"1_25": df_1_25, "2_26": df_2_26, "5_19": df_5_19}

In [165]:
new_tags_map = process_tags_map()

In [166]:
tags_4_map = {}
tags_3_map = {}
tags_2_map = {}
tags_1_map = {}
for key, value in new_tags_map.items():
    if value[0] == 4:
        tags_4_map[key] = value[1:]
    if value[0] == 3:
        tags_3_map[key] = value[1:]
    if value[0] == 2:
        tags_2_map[key] = value[1:]
    if value[0] == 1:
        tags_1_map[key] = value[1:]

In [167]:
tags_4_map

{'PROD_ID': ['1_06', '1_25', '2_26', '5_19'],
 'VIP_LEVEL': ['1_06', '1_25', '2_26', '5_19'],
 'ONLINE_MONTH': ['1_06', '1_25', '2_26', '5_19'],
 'GENDER': ['1_06', '1_25', '2_26', '5_19'],
 'IF_BLACK': ['1_06', '1_25', '2_26', '5_19'],
 'AGE_SEG': ['1_06', '1_25', '2_26', '5_19'],
 'IF_GROUP': ['1_06', '1_25', '2_26', '5_19'],
 'IF_SCHOOL': ['1_06', '1_25', '2_26', '5_19'],
 'IF_BRD': ['1_06', '1_25', '2_26', '5_19'],
 'IF_DBL_TRMNL': ['1_06', '1_25', '2_26', '5_19'],
 'TRMNL_AGE': ['1_06', '1_25', '2_26', '5_19'],
 'IF_4G_TRMNL': ['1_06', '1_25', '2_26', '5_19'],
 'IF_VOLTE': ['1_06', '1_25', '2_26', '5_19'],
 'BRD_RAX': ['1_06', '1_25', '2_26', '5_19'],
 'BRD_ACTIVE_DAYS': ['1_06', '1_25', '2_26', '5_19'],
 'IF_ITV': ['1_06', '1_25', '2_26', '5_19'],
 'CHRG': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT01': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT02': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN01': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_DRTN02': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV01': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_ROAM_PRV02': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_4G': ['1_06', '1_25', '2_26', '5_19'],
 'SMS_COUNT': ['1_06', '1_25', '2_26', '5_19'],
 'CALLING_NET_COUNT': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_NET_DRTN': ['1_06', '1_25', '2_26', '5_19'],
 'VOICE_CHRG': ['1_06', '1_25', '2_26', '5_19'],
 'DATA_CHRG': ['1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN': ['1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN01': ['1_06', '1_25', '2_26', '5_19'],
 'CALLED_DRTN02': ['1_06', '1_25', '2_26', '5_19'],
 'CALL_COUNT': ['1_06', '1_25', '2_26', '5_19'],
 'CALLING_DRTN01': ['1_06', '1_25', '2_26', '5_19'],
 'CALLING_DRTN02': ['1_06', '1_25', '2_26', '5_19'],
 'IF_TOUCH': ['1_06', '1_25', '2_26', '5_19']}

In [168]:
tags_3_map

{'DATA_FLOW_AMNT_5G': ['1_06', '2_26', '5_19'],
 'CARD_3G_F': ['1_25', '2_26', '5_19'],
 'CHRG01': ['1_25', '2_26', '5_19'],
 'CHRG02': ['1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV01': ['1_25', '2_26', '5_19'],
 'DATA_FLOW_AMNT_PRV02': ['1_25', '2_26', '5_19'],
 'CALL_NET_DRTN01': ['1_25', '2_26', '5_19'],
 'CALL_NET_DRTN02': ['1_25', '2_26', '5_19'],
 'CALLING_DRTN': ['1_25', '2_26', '5_19']}

In [169]:
tags_2_map

{'CALL_TIME': ['1_25', '5_19']}

In [170]:
tags_1_map

{}

拼接策略
* 四张表共有标签的全部拼接，其列标签为4表共有
* 三表拼接，'1_25', '2_26', '5_19'进行拼接
* 两表拼接，'1_25', '5_19'

In [184]:
df_all = pd.concat([df_1_06, df_1_25, df_2_26, df_5_19], axis=0)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [185]:
df_all

,AGE_SEG,BRD_ACTIVE_DAYS,BRD_RAX,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,CALLING_NET_COUNT,CALL_COUNT,CALL_DRTN,CALL_DRTN01,CALL_DRTN02,CALL_NET_DRTN,CALL_NET_DRTN01,CALL_NET_DRTN02,CALL_TIME,CARD_3G_F,CHRG,CHRG01,CHRG02,DATA_CHRG,DATA_FLOW_AMNT,DATA_FLOW_AMNT01,DATA_FLOW_AMNT02,DATA_FLOW_AMNT_4G,DATA_FLOW_AMNT_5G,DATA_FLOW_AMNT_PRV,DATA_FLOW_AMNT_PRV01,DATA_FLOW_AMNT_PRV02,DATA_FLOW_AMNT_ROAM_PRV,DATA_FLOW_AMNT_ROAM_PRV01,DATA_FLOW_AMNT_ROAM_PRV02,GENDER,IF_4G_TRMNL,IF_BLACK,IF_BRD,IF_DBL_TRMNL,IF_GROUP,IF_ITV,IF_SCHOOL,IF_TOUCH,IF_VOLTE,ONLINE_MONTH,PROD_ID,SMS_COUNT,TRMNL_AGE,VIP_LEVEL,VOICE_CHRG
0,40,4,200.000000,70.0,21.0,55.0,NaN,75.0,114.0,14.000000,27,177.0,96.0,169.0,4526.000000,NaN,NaN,NaT,NaN,11.00,NaN,NaN,0.00,11532.55,1446.83,2399.60,11522.89,264.468612,0.00,NaN,NaN,0.00,0.00,2.28,1,Y,N,N,N,Y,N,N,0,N,70,2.342566e+11,0,25,5,0.00
1,50,1,100.000000,1.0,0.0,0.0,NaN,0.0,0.0,46.833193,0,1.0,0.0,0.0,4141.030266,NaN,NaN,NaT,NaN,29.75,NaN,NaN,27.35,717.44,545.79,130.54,709.59,264.468612,199.58,NaN,NaN,0.00,22.05,0.00,1,Y,N,N,N,Y,N,N,0,N,7,2.346125e+11,0,29,5,0.60
2,42,5,34.000000,50.0,37.0,61.0,NaN,108.0,225.0,9.000000,14,118.0,145.0,286.0,696.000000,NaN,NaN,NaT,NaN,5.00,NaN,NaN,0.00,0.00,0.00,0.00,0.00,264.468612,0.00,NaN,NaN,0.00,0.00,0.00,1,N,N,N,N,N,N,N,0,N,73,2.342417e+11,0,54,4,0.00
3,50,6,155.320117,1.0,2.0,0.0,NaN,3.0,1.0,46.833193,0,1.0,5.0,1.0,4141.030266,NaN,NaN,NaT,NaN,29.10,NaN,NaN,26.76,2291.25,9077.50,5676.50,2291.25,264.468612,0.00,NaN,NaN,590.96,0.00,0.00,2,Y,N,N,N,N,N,N,0,N,6,2.346136e+11,0,1,4,0.59
4,45,20,100.000000,161.0,119.0,43.0,NaN,327.0,198.0,149.000000,242,532.0,446.0,241.0,8837.000000,NaN,NaN,NaT,NaN,13.75,NaN,NaN,0.00,30209.67,25385.19,20686.10,30209.67,264.468612,0.00,NaN,NaN,0.00,7227.99,331.93,1,Y,N,N,N,N,N,N,0,Y,5,2.346208e+11,5,3,4,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22408,45,1,500.000000,104.0,29.0,93.0,121.0,36.0,61.0,17.000000,33,225.0,65.0,154.0,265.000000,351.0,2308.0,2021-04-10 09:07:05,3.0,55.73,55.23,55.97,46.72,17565.24,15009.79,20841.20,17558.12,0.000000,0.00,0.0,0.00,17565.24,15009.79,20841.20,1,N,N,Y,N,N,Y,N,1,Y,97,2.342304e+11,0,1,5,0.97
22409,25,3,200.000000,140.0,114.0,174.0,146.0,113.0,132.0,38.000000,71,286.0,227.0,306.0,4108.000000,3177.0,3030.0,2021-04-10 09:15:48,3.0,121.52,114.84,114.84,111.84,18383.89,20764.84,21052.78,18383.89,0.000000,0.00,0.0,0.00,0.00,0.00,0.00,1,Y,N,Y,N,N,Y,N,1,Y,98,2.342278e+11,0,55,4,2.30
22410,50,1,200.000000,52.0,116.0,99.0,134.0,243.0,196.0,47.000000,76,186.0,359.0,295.0,3851.000000,7585.0,8116.0,2021-04-10 09:14:21,1.0,116.34,116.26,116.24,94.08,5509.78,2332.17,5675.05,5508.55,0.000000,0.00,0.0,0.00,0.00,0.00,0.00,1,N,N,Y,N,N,Y,N,1,Y,74,2.343453e+11,0,0,4,2.06
22411,45,2,200.000000,163.0,111.0,158.0,139.0,70.0,94.0,35.000000,54,302.0,181.0,252.0,1689.000000,1099.0,1597.0,2021-04-10 09:19:26,3.0,114.83,114.82,114.82,105.54,8598.78,8174.34,5833.56,8598.78,0.000000,0.00,0.0,272.46,0.00,0.00,0.00,1,Y,N,Y,N,N,Y,N,1,Y,99,2.342222e+11,0,38,4,2.30
22412,55,2,100.000000,47.0,16.0,40.0,55.0,21.0,20.0,20.000000,31,102.0,37.0,60.0,1329.000000,458.0,248.0,2021-04-09 17:20:45,3.0,35.34,35.33,35.51,29.80,2832.86,981.07,1453.72,2832.86,0.000000,0.00,0.0,0.00,0.00,0.00,0.00,1,Y,N,Y,N,N,Y,N,1,Y,10,2.346657e+11,0,10,1,0.55

In [186]:
df_all.isnull().sum()

AGE_SEG                          0
BRD_ACTIVE_DAYS                  0
BRD_RAX                          0
CALLED_DRTN                      0
CALLED_DRTN01                    0
CALLED_DRTN02                    0
CALLING_DRTN                 60227
CALLING_DRTN01                   0
CALLING_DRTN02                   0
CALLING_NET_COUNT                0
CALL_COUNT                       0
CALL_DRTN                        0
CALL_DRTN01                      0
CALL_DRTN02                      0
CALL_NET_DRTN                    0
CALL_NET_DRTN01              60227
CALL_NET_DRTN02              60227
CALL_TIME                    70228
CARD_3G_F                    60227
CHRG                             0
CHRG01                       60227
CHRG02                       60227
DATA_CHRG                        0
DATA_FLOW_AMNT                   0
DATA_FLOW_AMNT01                 0
DATA_FLOW_AMNT02                 0
DATA_FLOW_AMNT_4G                0
DATA_FLOW_AMNT_5G            55620
DATA_FLOW_AMNT_PRV               0
DATA_FLOW_AMNT_PRV01         60227
DATA_FLOW_AMNT_PRV02         60227
DATA_FLOW_AMNT_ROAM_PRV          0
DATA_FLOW_AMNT_ROAM_PRV01        0
DATA_FLOW_AMNT_ROAM_PRV02        0
GENDER                           0
IF_4G_TRMNL                      0
IF_BLACK                         0
IF_BRD                           0
IF_DBL_TRMNL                     0
IF_GROUP                         0
IF_ITV                           0
IF_SCHOOL                        0
IF_TOUCH                         0
IF_VOLTE                         0
ONLINE_MONTH                     0
PROD_ID                          0
SMS_COUNT                        0
TRMNL_AGE                        0
VIP_LEVEL                        0
VOICE_CHRG                       0
dtype: int64

In [187]:
# 去掉有空值的列
df_all.dropna(axis=1, how='any', inplace=True)

In [190]:
df_125_226_519 = pd.concat([df_1_25, df_2_26, df_5_19], axis=0)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [192]:
df_125_226_519.dropna(axis=1, how='any', inplace=True)

In [193]:
df_125_519 = pd.concat([df_1_25, df_5_19], axis=0)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [201]:
df_125_226_519.isnull().sum()

AGE_SEG                      0
BRD_ACTIVE_DAYS              0
BRD_RAX                      0
CALLED_DRTN                  0
CALLED_DRTN01                0
CALLED_DRTN02                0
CALLING_DRTN                 0
CALLING_DRTN01               0
CALLING_DRTN02               0
CALLING_NET_COUNT            0
CALL_COUNT                   0
CALL_DRTN                    0
CALL_DRTN01                  0
CALL_DRTN02                  0
CALL_NET_DRTN                0
CALL_NET_DRTN01              0
CALL_NET_DRTN02              0
CARD_3G_F                    0
CHRG                         0
CHRG01                       0
CHRG02                       0
DATA_CHRG                    0
DATA_FLOW_AMNT               0
DATA_FLOW_AMNT01             0
DATA_FLOW_AMNT02             0
DATA_FLOW_AMNT_4G            0
DATA_FLOW_AMNT_PRV           0
DATA_FLOW_AMNT_PRV01         0
DATA_FLOW_AMNT_PRV02         0
DATA_FLOW_AMNT_ROAM_PRV      0
DATA_FLOW_AMNT_ROAM_PRV01    0
DATA_FLOW_AMNT_ROAM_PRV02    0
GENDER                       0
IF_4G_TRMNL                  0
IF_BLACK                     0
IF_BRD                       0
IF_DBL_TRMNL                 0
IF_GROUP                     0
IF_ITV                       0
IF_SCHOOL                    0
IF_TOUCH                     0
IF_VOLTE                     0
ONLINE_MONTH                 0
PROD_ID                      0
SMS_COUNT                    0
TRMNL_AGE                    0
VIP_LEVEL                    0
VOICE_CHRG                   0
dtype: int64

In [196]:
df_125_519.isnull().sum()

AGE_SEG                      0
BRD_ACTIVE_DAYS              0
BRD_RAX                      0
CALLED_DRTN                  0
CALLED_DRTN01                0
CALLED_DRTN02                0
CALLING_DRTN                 0
CALLING_DRTN01               0
CALLING_DRTN02               0
CALLING_NET_COUNT            0
CALL_COUNT                   0
CALL_DRTN                    0
CALL_DRTN01                  0
CALL_DRTN02                  0
CALL_NET_DRTN                0
CALL_NET_DRTN01              0
CALL_NET_DRTN02              0
CALL_TIME                    0
CARD_3G_F                    0
CHRG                         0
CHRG01                       0
CHRG02                       0
DATA_CHRG                    0
DATA_FLOW_AMNT               0
DATA_FLOW_AMNT01             0
DATA_FLOW_AMNT02             0
DATA_FLOW_AMNT_4G            0
DATA_FLOW_AMNT_PRV           0
DATA_FLOW_AMNT_PRV01         0
DATA_FLOW_AMNT_PRV02         0
DATA_FLOW_AMNT_ROAM_PRV      0
DATA_FLOW_AMNT_ROAM_PRV01    0
DATA_FLOW_AMNT_ROAM_PRV02    0
GENDER                       0
IF_4G_TRMNL                  0
IF_BLACK                     0
IF_BRD                       0
IF_DBL_TRMNL                 0
IF_GROUP                     0
IF_ITV                       0
IF_SCHOOL                    0
IF_TOUCH                     0
IF_VOLTE                     0
ONLINE_MONTH                 0
PROD_ID                      0
SMS_COUNT                    0
TRMNL_AGE                    0
VIP_LEVEL                    0
VOICE_CHRG                   0
dtype: int64

In [195]:
df_125_519.dropna(axis=1, how='any', inplace=True)

In [197]:
df_125_519

,AGE_SEG,BRD_ACTIVE_DAYS,BRD_RAX,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,CALLING_NET_COUNT,CALL_COUNT,CALL_DRTN,CALL_DRTN01,CALL_DRTN02,CALL_NET_DRTN,CALL_NET_DRTN01,CALL_NET_DRTN02,CALL_TIME,CARD_3G_F,CHRG,CHRG01,CHRG02,DATA_CHRG,DATA_FLOW_AMNT,DATA_FLOW_AMNT01,DATA_FLOW_AMNT02,DATA_FLOW_AMNT_4G,DATA_FLOW_AMNT_PRV,DATA_FLOW_AMNT_PRV01,DATA_FLOW_AMNT_PRV02,DATA_FLOW_AMNT_ROAM_PRV,DATA_FLOW_AMNT_ROAM_PRV01,DATA_FLOW_AMNT_ROAM_PRV02,GENDER,IF_4G_TRMNL,IF_BLACK,IF_BRD,IF_DBL_TRMNL,IF_GROUP,IF_ITV,IF_SCHOOL,IF_TOUCH,IF_VOLTE,ONLINE_MONTH,PROD_ID,SMS_COUNT,TRMNL_AGE,VIP_LEVEL,VOICE_CHRG
0,40,6,150.338107,160.0,215.0,172.0,368.0,589.0,265.0,52.0,156,528.0,804.0,437.0,5425.0,18399.0,4149.0,2019-11-07 17:15:00,3.0,77.79,110.94,69.89,29.21,881.63,1411.93,732.57,881.63,0.00,0.0,0.00,22.26,0.00,0.0,2,Y,N,N,N,N,N,N,0,Y,133,2.342052e+11,0,0,4,37.82
1,30,6,150.338107,344.0,107.0,45.0,397.0,475.0,310.0,43.0,86,741.0,582.0,355.0,3810.0,3808.0,2372.0,2019-06-07 10:02:00,1.0,72.60,72.60,72.60,58.75,0.00,0.00,20.47,0.00,0.00,0.0,0.00,0.00,0.00,0.0,1,Y,N,N,N,N,N,N,0,N,128,2.342052e+11,0,50,4,-3.23
2,60,6,150.338107,66.0,84.0,165.0,7.0,31.0,33.0,6.0,5,73.0,115.0,198.0,311.0,597.0,1047.0,2019-11-20 15:57:00,3.0,12.05,15.65,15.95,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.0,1,N,N,N,N,Y,N,N,0,N,132,2.342053e+11,0,8,3,0.96
3,50,6,150.338107,24.0,9.0,56.0,29.0,12.0,14.0,15.0,15,53.0,21.0,70.0,1105.0,188.0,403.0,2019-11-20 15:53:00,3.0,15.36,12.80,13.17,0.01,0.11,0.00,2.11,0.11,0.00,0.0,0.00,0.00,0.00,0.0,1,Y,N,N,N,Y,N,N,0,Y,132,2.342053e+11,0,11,2,3.99
4,45,30,200.000000,124.0,172.0,187.0,151.0,297.0,559.0,33.0,55,275.0,469.0,746.0,4610.0,4668.0,9398.0,2019-07-08 13:21:00,3.0,114.82,114.92,119.39,104.58,489.49,681.81,788.49,489.49,15.26,0.0,0.00,0.00,0.00,0.0,2,Y,N,Y,N,N,Y,N,0,N,128,2.342053e+11,0,5,5,2.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22408,45,1,500.000000,104.0,29.0,93.0,121.0,36.0,61.0,17.0,33,225.0,65.0,154.0,265.0,351.0,2308.0,2021-04-10 09:07:05,3.0,55.73,55.23,55.97,46.72,17565.24,15009.79,20841.20,17558.12,0.00,0.0,0.00,17565.24,15009.79,20841.2,1,N,N,Y,N,N,Y,N,1,Y,97,2.342304e+11,0,1,5,0.97
22409,25,3,200.000000,140.0,114.0,174.0,146.0,113.0,132.0,38.0,71,286.0,227.0,306.0,4108.0,3177.0,3030.0,2021-04-10 09:15:48,3.0,121.52,114.84,114.84,111.84,18383.89,20764.84,21052.78,18383.89,0.00,0.0,0.00,0.00,0.00,0.0,1,Y,N,Y,N,N,Y,N,1,Y,98,2.342278e+11,0,55,4,2.30
22410,50,1,200.000000,52.0,116.0,99.0,134.0,243.0,196.0,47.0,76,186.0,359.0,295.0,3851.0,7585.0,8116.0,2021-04-10 09:14:21,1.0,116.34,116.26,116.24,94.08,5509.78,2332.17,5675.05,5508.55,0.00,0.0,0.00,0.00,0.00,0.0,1,N,N,Y,N,N,Y,N,1,Y,74,2.343453e+11,0,0,4,2.06
22411,45,2,200.000000,163.0,111.0,158.0,139.0,70.0,94.0,35.0,54,302.0,181.0,252.0,1689.0,1099.0,1597.0,2021-04-10 09:19:26,3.0,114.83,114.82,114.82,105.54,8598.78,8174.34,5833.56,8598.78,0.00,0.0,272.46,0.00,0.00,0.0,1,Y,N,Y,N,N,Y,N,1,Y,99,2.342222e+11,0,38,4,2.30
22412,55,2,100.000000,47.0,16.0,40.0,55.0,21.0,20.0,20.0,31,102.0,37.0,60.0,1329.0,458.0,248.0,2021-04-09 17:20:45,3.0,35.34,35.33,35.51,29.80,2832.86,981.07,1453.72,2832.86,0.00,0.0,0.00,0.00,0.00,0.0,1,Y,N,Y,N,N,Y,N,1,Y,10,2.346657e+11,0,10,1,0.55

存入数据库， 合并的表采用c开通，之后跟上合并的表名称

In [198]:
df_all.to_sql('c_all', engine, index=False)

In [199]:
df_125_226_519.to_sql('c_125_226_519', engine, index=False)

In [200]:
df_125_519.to_sql('c_125_519', engine, index=False)

In [205]:
test = '''PROD_ID
VIP_LEVEL
ONLINE_MONTH
GENDER
IF_BLACK
AGE_SEG
IF_GROUP
IF_SCHOOL
IF_BRD
IF_DBL_TRMNL
TRMNL_AGE
IF_4G_TRMNL
IF_VOLTE
BRD_RAX
CARD_3G_F
BRD_ACTIVE_DAYS
IF_ITV
CHRG
CHRG01
CHRG02
DATA_FLOW_AMNT
DATA_FLOW_AMNT01
DATA_FLOW_AMNT02
CALL_DRTN
CALL_DRTN01
CALL_DRTN02
DATA_FLOW_AMNT_PRV
DATA_FLOW_AMNT_PRV01
DATA_FLOW_AMNT_PRV02
DATA_FLOW_AMNT_ROAM_PRV
DATA_FLOW_AMNT_ROAM_PRV01
DATA_FLOW_AMNT_ROAM_PRV02
DATA_FLOW_AMNT_4G
SMS_COUNT
CALLING_NET_COUNT
CALL_NET_DRTN
CALL_NET_DRTN01
CALL_NET_DRTN02
VOICE_CHRG
DATA_CHRG
CALLED_DRTN
CALLED_DRTN01
CALLED_DRTN02
CALL_COUNT
CALLING_DRTN
CALLING_DRTN01
CALLING_DRTN02
IF_TOUCH
'''

In [206]:
all_tags = test.splitlines()

In [204]:
len(df_125_226_519.columns)

48

In [208]:
a = []
for col in df_125_226_519.columns:
    if col not in all_tags:
        a.append(col)

In [209]:
a

[]