In [3]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

In [10]:
# 初始化数据库连接，使用pymysql模块
# MySQL的用户：root, 密码:147369, 端口：3306,数据库：mydb
engine = create_engine('mysql+pymysql://root:123456@159.75.89.42:3306/easy_call_db')

In [5]:
# 查询语句
sql = 'select * from user;'

df = pd.read_sql_query(sql, engine)

In [6]:
df

,Host,User,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv,Reload_priv,Shutdown_priv,...,password_expired,password_last_changed,password_lifetime,account_locked,Create_role_priv,Drop_role_priv,Password_reuse_history,Password_reuse_time,Password_require_current,User_attributes
0,%,root,Y,Y,Y,Y,Y,Y,Y,Y,...,N,2021-07-01 10:41:51,None,N,Y,Y,None,None,None,None
1,localhost,mysql.infoschema,Y,N,N,N,N,N,N,N,...,N,2021-07-01 10:32:12,None,Y,N,N,None,None,None,None
2,localhost,mysql.session,N,N,N,N,N,N,N,Y,...,N,2021-07-01 10:23:59,None,Y,N,N,None,None,None,None
3,localhost,mysql.sys,N,N,N,N,N,N,N,N,...,N,2021-07-01 10:23:59,None,Y,N,N,None,None,None,None

In [7]:
df_1 = pd.DataFrame({'id':[1,2,3,4], 'num':[32,34,21,23]})

df_1.to_sql('mytest', engine, index=False)

## 2021_1_06的数据

In [34]:
path_1_06 = "data/易访库数据_20210106.xlsx"

In [35]:
df_1_06 = pd.read_excel(path_1_06)

In [36]:
df_1_06

,PROD_ID,CALL_MONTH,VIP_LEVEL,ONLINE_MONTH,GENDER,TS_TIMES,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,...,ACCU_RATE,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALLED_DRTN03,CALL_COUNT,CALLING_DRTN01,CALLING_DRTN02,CALLING_DRTN03,IF_TOUCH
0,234256589252,201907,5.0,70.0,1.0,NaN,N,40.0,Y,N,...,NaN,70.0,21.0,55.0,90.0,27,75.0,114.0,255.0,N
1,234612472495,201907,5.0,7.0,1.0,NaN,N,50.0,Y,N,...,NaN,1.0,0.0,0.0,1.0,0,0.0,0.0,5.0,N
2,234241741087,201907,NaN,73.0,NaN,NaN,N,NaN,N,N,...,NaN,50.0,37.0,61.0,84.0,14,108.0,225.0,227.0,N
3,234613632880,201907,99.0,6.0,2.0,NaN,N,50.0,N,N,...,NaN,1.0,2.0,0.0,0.0,0,3.0,1.0,0.0,N
4,234620806728,201907,4.0,5.0,1.0,NaN,N,45.0,N,N,...,NaN,161.0,119.0,43.0,21.0,242,327.0,198.0,205.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60222,234208595193,201911,3.0,119.0,1.0,NaN,N,35.0,Y,N,...,NaN,369.0,254.0,532.0,498.0,38,68.0,198.0,72.0,Y
60223,234207020843,201911,4.0,125.0,2.0,NaN,N,35.0,Y,N,...,NaN,532.0,543.0,768.0,577.0,180,361.0,309.0,313.0,Y
60224,234213281424,201911,4.0,101.0,1.0,NaN,N,45.0,N,N,...,NaN,274.0,97.0,106.0,115.0,52,68.0,28.0,26.0,Y
60225,234396242630,201911,5.0,32.0,1.0,NaN,N,35.0,N,N,...,NaN,0.0,0.0,4.0,0.0,0,0.0,4.0,0.0,Y
60226,234228852925,201911,5.0,80.0,1.0,NaN,N,50.0,Y,N,...,NaN,201.0,185.0,157.0,182.0,68,180.0,110.0,179.0,Y

In [37]:
df_1_06.to_sql('2021_1_06', engine, index=False)

In [38]:
sql = "select * from 2021_1_06;"
df_sql_1_06 = pd.read_sql_query(sql, engine)

In [39]:
df_sql_1_06

,PROD_ID,CALL_MONTH,VIP_LEVEL,ONLINE_MONTH,GENDER,TS_TIMES,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,...,ACCU_RATE,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALLED_DRTN03,CALL_COUNT,CALLING_DRTN01,CALLING_DRTN02,CALLING_DRTN03,IF_TOUCH
0,234256589252,201907,5.0,70.0,1.0,None,N,40.0,Y,N,...,None,70.0,21.0,55.0,90.0,27,75.0,114.0,255.0,N
1,234612472495,201907,5.0,7.0,1.0,None,N,50.0,Y,N,...,None,1.0,0.0,0.0,1.0,0,0.0,0.0,5.0,N
2,234241741087,201907,NaN,73.0,NaN,None,N,NaN,N,N,...,None,50.0,37.0,61.0,84.0,14,108.0,225.0,227.0,N
3,234613632880,201907,99.0,6.0,2.0,None,N,50.0,N,N,...,None,1.0,2.0,0.0,0.0,0,3.0,1.0,0.0,N
4,234620806728,201907,4.0,5.0,1.0,None,N,45.0,N,N,...,None,161.0,119.0,43.0,21.0,242,327.0,198.0,205.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60222,234208595193,201911,3.0,119.0,1.0,None,N,35.0,Y,N,...,None,369.0,254.0,532.0,498.0,38,68.0,198.0,72.0,Y
60223,234207020843,201911,4.0,125.0,2.0,None,N,35.0,Y,N,...,None,532.0,543.0,768.0,577.0,180,361.0,309.0,313.0,Y
60224,234213281424,201911,4.0,101.0,1.0,None,N,45.0,N,N,...,None,274.0,97.0,106.0,115.0,52,68.0,28.0,26.0,Y
60225,234396242630,201911,5.0,32.0,1.0,None,N,35.0,N,N,...,None,0.0,0.0,4.0,0.0,0,0.0,4.0,0.0,Y
60226,234228852925,201911,5.0,80.0,1.0,None,N,50.0,Y,N,...,None,201.0,185.0,157.0,182.0,68,180.0,110.0,179.0,Y

## 2021_1_25的数据

In [12]:
path_2021_1_25 = "data/易访库-回访数据_2021_1_25.xlsx"

In [13]:
df_1_25 = pd.read_excel(path_2021_1_25)

In [14]:
df_1_25

,SOURCE,PROD_ID,CALL_DT,CALL_MONTH,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,...,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,IF_TOUCH
0,HF,234205175419,2019-11-07 17:15:00,201911,4.0,133.0,2.0,N,40.0,N,...,37.82,29.21,160.0,215.0,172.0,156.0,368.0,589.0,265.0,N
1,HF,234205231888,2019-06-07 10:02:00,201906,4.0,128.0,1.0,N,30.0,N,...,-3.23,58.75,344.0,107.0,45.0,86.0,397.0,475.0,310.0,N
2,HF,234205290296,2019-11-20 15:57:00,201911,3.0,132.0,1.0,N,60.0,Y,...,0.96,0.00,66.0,84.0,165.0,5.0,7.0,31.0,33.0,N
3,HF,234205292854,2019-11-20 15:53:00,201911,2.0,132.0,1.0,N,50.0,Y,...,3.99,0.01,24.0,9.0,56.0,15.0,29.0,12.0,14.0,N
4,HF,234205310711,2019-07-08 13:21:00,201907,5.0,128.0,2.0,N,45.0,N,...,2.44,104.58,124.0,172.0,187.0,55.0,151.0,297.0,559.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55615,HF,1062629879943,2019-11-06 10:14:00,201911,3.0,135.0,2.0,N,60.0,N,...,12.66,0.00,78.0,59.0,56.0,47.0,52.0,46.0,48.0,N
55616,HF,1062629900455,2019-11-26 15:50:00,201911,3.0,135.0,2.0,N,70.0,N,...,24.90,0.00,37.0,37.0,49.0,32.0,141.0,64.0,67.0,N
55617,HF,1062630041846,2019-11-26 15:50:00,201911,5.0,135.0,1.0,N,55.0,N,...,31.05,8.60,113.0,123.0,193.0,42.0,62.0,106.0,148.0,N
55618,HF,1062630162397,2019-11-27 16:01:00,201911,3.0,134.0,2.0,N,40.0,N,...,0.92,0.00,95.0,156.0,166.0,66.0,108.0,135.0,114.0,N
55619,HF,1062630283689,2019-11-09 08:57:00,201911,3.0,134.0,1.0,N,65.0,N,...,27.12,0.00,302.0,223.0,246.0,131.0,379.0,304.0,281.0,N

In [19]:
df_1_25.to_sql('2021_1_25', engine, index=False)

In [20]:
sql = "select * from 2021_1_25;"
df_sql_1_25 = pd.read_sql_query(sql, engine)

In [21]:
df_sql_1_25

,SOURCE,PROD_ID,CALL_DT,CALL_MONTH,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,...,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,IF_TOUCH
0,HF,234205175419,2019-11-07 17:15:00,201911,4.0,133.0,2.0,N,40.0,N,...,37.82,29.21,160.0,215.0,172.0,156.0,368.0,589.0,265.0,N
1,HF,234205231888,2019-06-07 10:02:00,201906,4.0,128.0,1.0,N,30.0,N,...,-3.23,58.75,344.0,107.0,45.0,86.0,397.0,475.0,310.0,N
2,HF,234205290296,2019-11-20 15:57:00,201911,3.0,132.0,1.0,N,60.0,Y,...,0.96,0.00,66.0,84.0,165.0,5.0,7.0,31.0,33.0,N
3,HF,234205292854,2019-11-20 15:53:00,201911,2.0,132.0,1.0,N,50.0,Y,...,3.99,0.01,24.0,9.0,56.0,15.0,29.0,12.0,14.0,N
4,HF,234205310711,2019-07-08 13:21:00,201907,5.0,128.0,2.0,N,45.0,N,...,2.44,104.58,124.0,172.0,187.0,55.0,151.0,297.0,559.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55615,HF,1062629879943,2019-11-06 10:14:00,201911,3.0,135.0,2.0,N,60.0,N,...,12.66,0.00,78.0,59.0,56.0,47.0,52.0,46.0,48.0,N
55616,HF,1062629900455,2019-11-26 15:50:00,201911,3.0,135.0,2.0,N,70.0,N,...,24.90,0.00,37.0,37.0,49.0,32.0,141.0,64.0,67.0,N
55617,HF,1062630041846,2019-11-26 15:50:00,201911,5.0,135.0,1.0,N,55.0,N,...,31.05,8.60,113.0,123.0,193.0,42.0,62.0,106.0,148.0,N
55618,HF,1062630162397,2019-11-27 16:01:00,201911,3.0,134.0,2.0,N,40.0,N,...,0.92,0.00,95.0,156.0,166.0,66.0,108.0,135.0,114.0,N
55619,HF,1062630283689,2019-11-09 08:57:00,201911,3.0,134.0,1.0,N,65.0,N,...,27.12,0.00,302.0,223.0,246.0,131.0,379.0,304.0,281.0,N

## 2020-2-26的数据

In [22]:
path_2_26 = "data/20210226_test_10000_631_319.xlsx"

In [23]:
df_2_26 = pd.read_excel(path_2_26)

In [29]:
df_2_26.drop(columns=["Unnamed: 0"], axis=1,inplace=True)

In [30]:
df_2_26

,PROD_ID,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,IF_BRD,IF_DBL_TRMNL,...,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,success,IF_TOUCH
0,234619912755,3.0,22,1,N,30,N,N,Y,Y,...,0.00,9,2.0,8.0,4,5,2.0,22.0,0,0
1,234401899570,5.0,41,2,N,55,N,N,Y,Y,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0,1
2,234420890495,3.0,28,1,N,30,N,N,Y,Y,...,63.02,6,1.0,1.0,0,0,0.0,0.0,0,0
3,234386398120,4.0,51,2,N,45,N,N,Y,N,...,0.00,19,99.0,17.0,8,13,59.0,6.0,0,0
4,234634533836,4.0,18,2,N,45,N,N,Y,Y,...,67.95,0,3.0,9.0,2,2,5.0,4.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,234219457848,5.0,100,1,N,50,N,N,Y,Y,...,0.00,588,476.0,451.0,13,80,185.0,24.0,0,0
9997,234423040411,5.0,27,1,N,30,N,N,Y,N,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0,0
9998,234217300069,4.0,104,1,N,35,N,N,Y,N,...,65.07,227,188.0,149.0,46,159,140.0,202.0,0,0
9999,234380147929,3.0,55,2,N,30,N,N,Y,Y,...,79.58,10,7.0,19.0,3,7,1.0,6.0,0,0
10000,234403427440,4.0,40,1,N,45,N,N,Y,Y,...,0.00,6,0.0,3.0,0,0,0.0,1.0,0,0

In [31]:
df_2_26.to_sql('2021_2_26', engine, index=False)

In [32]:
sql = "select * from 2021_2_26;"
df_sql_2_26 = pd.read_sql_query(sql, engine)

In [33]:
df_sql_2_26

,PROD_ID,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,IF_BRD,IF_DBL_TRMNL,...,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02,success,IF_TOUCH
0,234619912755,3.0,22,1,N,30,N,N,Y,Y,...,0.00,9,2.0,8.0,4,5,2.0,22.0,0,0
1,234401899570,5.0,41,2,N,55,N,N,Y,Y,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0,1
2,234420890495,3.0,28,1,N,30,N,N,Y,Y,...,63.02,6,1.0,1.0,0,0,0.0,0.0,0,0
3,234386398120,4.0,51,2,N,45,N,N,Y,N,...,0.00,19,99.0,17.0,8,13,59.0,6.0,0,0
4,234634533836,4.0,18,2,N,45,N,N,Y,Y,...,67.95,0,3.0,9.0,2,2,5.0,4.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,234219457848,5.0,100,1,N,50,N,N,Y,Y,...,0.00,588,476.0,451.0,13,80,185.0,24.0,0,0
9997,234423040411,5.0,27,1,N,30,N,N,Y,N,...,0.00,0,0.0,0.0,0,0,0.0,0.0,0,0
9998,234217300069,4.0,104,1,N,35,N,N,Y,N,...,65.07,227,188.0,149.0,46,159,140.0,202.0,0,0
9999,234380147929,3.0,55,2,N,30,N,N,Y,Y,...,79.58,10,7.0,19.0,3,7,1.0,6.0,0,0
10000,234403427440,4.0,40,1,N,45,N,N,Y,Y,...,0.00,6,0.0,3.0,0,0,0.0,1.0,0,0

## 2021_5_19数据

In [40]:
path_5_19 = "data/易访库20210519.xls"

In [41]:
df_5_19 = pd.read_excel(path_5_19)

In [42]:
df_5_19

,PROD_ID,TOUCH_FLAG,CALL_TIME,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,...,CALL_NET_DRTN02,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02
0,2.344048e+11,接通成功,2021-04-09 10:42:05,4.0,42.0,1.0,N,30.0,N,N,...,16531.0,1.53,74.13,450.0,362.0,445.0,268.0,459.0,293.0,701.0
1,2.342082e+11,拨打未接通,2021-04-09 10:42:05,5.0,137.0,1.0,N,60.0,N,N,...,15469.0,1.85,92.75,542.0,556.0,419.0,184.0,400.0,600.0,600.0
2,2.342065e+11,接通成功,2021-04-09 10:39:03,5.0,143.0,2.0,N,40.0,N,N,...,2156.0,1.28,56.33,52.0,106.0,109.0,45.0,60.0,160.0,78.0
3,2.343997e+11,拨打未接通,2021-04-09 10:39:03,4.0,46.0,1.0,N,30.0,N,N,...,760.0,-17.70,60.11,204.0,133.0,28.0,166.0,270.0,122.0,29.0
4,2.346437e+11,接通成功,2021-04-09 10:35:31,3.0,18.0,1.0,N,25.0,N,N,...,799.0,1.20,65.41,10.0,43.0,13.0,2.0,3.0,16.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22538,2.342304e+11,接通成功,2021-04-10 09:07:05,5.0,97.0,1.0,N,45.0,N,N,...,2308.0,0.97,46.72,104.0,29.0,93.0,33.0,121.0,36.0,61.0
22539,2.342278e+11,接通成功,2021-04-10 09:15:48,4.0,98.0,1.0,N,25.0,N,N,...,3030.0,2.30,111.84,140.0,114.0,174.0,71.0,146.0,113.0,132.0
22540,2.343453e+11,接通成功,2021-04-10 09:14:21,4.0,74.0,1.0,N,50.0,N,N,...,8116.0,2.06,94.08,52.0,116.0,99.0,76.0,134.0,243.0,196.0
22541,2.342222e+11,接通成功,2021-04-10 09:19:26,4.0,99.0,1.0,N,45.0,N,N,...,1597.0,2.30,105.54,163.0,111.0,158.0,54.0,139.0,70.0,94.0
22542,2.346657e+11,接通成功,2021-04-09 17:20:45,1.0,10.0,1.0,N,55.0,N,N,...,248.0,0.55,29.80,47.0,16.0,40.0,31.0,55.0,21.0,20.0

In [43]:
df_5_19.to_sql('2021_5_19', engine, index=False)

In [44]:
sql = "select * from 2021_5_19;"
df_sql_5_19 = pd.read_sql_query(sql, engine)

In [45]:
df_sql_5_19

,PROD_ID,TOUCH_FLAG,CALL_TIME,VIP_LEVEL,ONLINE_MONTH,GENDER,IF_BLACK,AGE_SEG,IF_GROUP,IF_SCHOOL,...,CALL_NET_DRTN02,VOICE_CHRG,DATA_CHRG,CALLED_DRTN,CALLED_DRTN01,CALLED_DRTN02,CALL_COUNT,CALLING_DRTN,CALLING_DRTN01,CALLING_DRTN02
0,2.344048e+11,接通成功,2021-04-09 10:42:05,4.0,42.0,1.0,N,30.0,N,N,...,16531.0,1.53,74.13,450.0,362.0,445.0,268.0,459.0,293.0,701.0
1,2.342082e+11,拨打未接通,2021-04-09 10:42:05,5.0,137.0,1.0,N,60.0,N,N,...,15469.0,1.85,92.75,542.0,556.0,419.0,184.0,400.0,600.0,600.0
2,2.342065e+11,接通成功,2021-04-09 10:39:03,5.0,143.0,2.0,N,40.0,N,N,...,2156.0,1.28,56.33,52.0,106.0,109.0,45.0,60.0,160.0,78.0
3,2.343997e+11,拨打未接通,2021-04-09 10:39:03,4.0,46.0,1.0,N,30.0,N,N,...,760.0,-17.70,60.11,204.0,133.0,28.0,166.0,270.0,122.0,29.0
4,2.346437e+11,接通成功,2021-04-09 10:35:31,3.0,18.0,1.0,N,25.0,N,N,...,799.0,1.20,65.41,10.0,43.0,13.0,2.0,3.0,16.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22538,2.342304e+11,接通成功,2021-04-10 09:07:05,5.0,97.0,1.0,N,45.0,N,N,...,2308.0,0.97,46.72,104.0,29.0,93.0,33.0,121.0,36.0,61.0
22539,2.342278e+11,接通成功,2021-04-10 09:15:48,4.0,98.0,1.0,N,25.0,N,N,...,3030.0,2.30,111.84,140.0,114.0,174.0,71.0,146.0,113.0,132.0
22540,2.343453e+11,接通成功,2021-04-10 09:14:21,4.0,74.0,1.0,N,50.0,N,N,...,8116.0,2.06,94.08,52.0,116.0,99.0,76.0,134.0,243.0,196.0
22541,2.342222e+11,接通成功,2021-04-10 09:19:26,4.0,99.0,1.0,N,45.0,N,N,...,1597.0,2.30,105.54,163.0,111.0,158.0,54.0,139.0,70.0,94.0
22542,2.346657e+11,接通成功,2021-04-09 17:20:45,1.0,10.0,1.0,N,55.0,N,N,...,248.0,0.55,29.80,47.0,16.0,40.0,31.0,55.0,21.0,20.0

# 数据合并

In [48]:
# 初始化数据库连接，使用pymysql模块
# MySQL的用户：root, 密码:147369, 端口：3306,数据库：mydb
engine = create_engine('mysql+pymysql://root:123456@159.75.89.42:3306/easy_call_db')

In [46]:
# 根据表名从数据库中读取表数据
def read_data_sql(table_name):
    str_sql = "select * from " + table_name + ";"
    df_res = pd.read_sql_query(str_sql, engine)
    return df_res

In [47]:
# 当前项目已有的数据，按获得日期命名
table_names = ['2021_1_06', '2021_1_25', '2021_2_26', '2021_5_19']

读取已有的数据

In [49]:
df_1_06 = read_data_sql('2021_1_06')

In [50]:
df_1_25 = read_data_sql('2021_1_25')

In [51]:
df_2_26 = read_data_sql('2021_2_26')

In [52]:
df_5_19 = read_data_sql('2021_5_19')

In [53]:
df_1_06.columns

Index(['PROD_ID', 'CALL_MONTH', 'VIP_LEVEL', 'ONLINE_MONTH', 'GENDER',
       'TS_TIMES', 'IF_BLACK', 'AGE_SEG', 'IF_GROUP', 'IF_SCHOOL', 'IF_BRD',
       'IF_DBL_TRMNL', 'TRMNL_AGE', 'IF_4G_TRMNL', 'IF_VOLTE', 'BRD_RAX',
       'BRD_ACTIVE_DAYS', 'IF_ITV', 'VOLTE_DRTN', 'CHRG', 'DATA_FLOW_AMNT',
       'DATA_FLOW_AMNT01', 'DATA_FLOW_AMNT02', 'CALL_DRTN', 'CALL_DRTN01',
       'CALL_DRTN02', 'DATA_FLOW_AMNT_PRV', 'DATA_FLOW_AMNT_ROAM_PRV',
       'DATA_FLOW_AMNT_ROAM_PRV01', 'DATA_FLOW_AMNT_ROAM_PRV02',
       'DATA_FLOW_AMNT_5G', 'DATA_FLOW_AMNT_4G', 'SMS_COUNT',
       'CALLING_NET_COUNT', 'CALL_NET_DRTN', 'VOICE_CHRG', 'DATA_CHRG',
       'ACCU_RATE', 'CALLED_DRTN', 'CALLED_DRTN01', 'CALLED_DRTN02',
       'CALLED_DRTN03', 'CALL_COUNT', 'CALLING_DRTN01', 'CALLING_DRTN02',
       'CALLING_DRTN03', 'IF_TOUCH'],
      dtype='object')

In [56]:
df_1_25.columns[1]

'PROD_ID'

In [63]:
df_list = [df_1_06, df_1_25, df_2_26, df_5_19]

In [66]:
tags_map = {}
# 统计当前所有表的标签各自的数量
for df_one in df_list:
    for colume_name in df_one.columns:
        if colume_name not in tags_map.keys():
            tags_map[colume_name] = 1
        else:
            tags_map[colume_name] += 1

In [67]:
tags_map

{'PROD_ID': 4,
 'CALL_MONTH': 2,
 'VIP_LEVEL': 4,
 'ONLINE_MONTH': 4,
 'GENDER': 4,
 'TS_TIMES': 1,
 'IF_BLACK': 4,
 'AGE_SEG': 4,
 'IF_GROUP': 4,
 'IF_SCHOOL': 4,
 'IF_BRD': 4,
 'IF_DBL_TRMNL': 4,
 'TRMNL_AGE': 4,
 'IF_4G_TRMNL': 4,
 'IF_VOLTE': 4,
 'BRD_RAX': 4,
 'BRD_ACTIVE_DAYS': 4,
 'IF_ITV': 4,
 'VOLTE_DRTN': 1,
 'CHRG': 4,
 'DATA_FLOW_AMNT': 4,
 'DATA_FLOW_AMNT01': 4,
 'DATA_FLOW_AMNT02': 4,
 'CALL_DRTN': 4,
 'CALL_DRTN01': 4,
 'CALL_DRTN02': 4,
 'DATA_FLOW_AMNT_PRV': 4,
 'DATA_FLOW_AMNT_ROAM_PRV': 4,
 'DATA_FLOW_AMNT_ROAM_PRV01': 4,
 'DATA_FLOW_AMNT_ROAM_PRV02': 4,
 'DATA_FLOW_AMNT_5G': 4,
 'DATA_FLOW_AMNT_4G': 4,
 'SMS_COUNT': 4,
 'CALLING_NET_COUNT': 4,
 'CALL_NET_DRTN': 4,
 'VOICE_CHRG': 4,
 'DATA_CHRG': 4,
 'ACCU_RATE': 1,
 'CALLED_DRTN': 4,
 'CALLED_DRTN01': 4,
 'CALLED_DRTN02': 4,
 'CALLED_DRTN03': 1,
 'CALL_COUNT': 4,
 'CALLING_DRTN01': 4,
 'CALLING_DRTN02': 4,
 'CALLING_DRTN03': 1,
 'IF_TOUCH': 3,
 'SOURCE': 1,
 'CALL_DT': 1,
 'CARD_3G_F': 3,
 'CHRG01': 3,
 'CHRG02': 3,
 'DATA_FLOW_AMNT_PRV01': 3,
 'DATA_FLOW_AMNT_PRV02': 3,
 'CALL_NET_DRTN01': 3,
 'CALL_NET_DRTN02': 3,
 'CALLING_DRTN': 3,
 'success': 1,
 'TOUCH_FLAG': 1,
 'CALL_TIME': 1}

In [68]:
tags_4_list = []
tags_3_list = []
for key, value in tags_map.items():
    if value == 4:
        tags_4_list.append(key)
    if value == 3:
        tags_3_list.append(key)

In [70]:
len(tags_4_list)

40

In [71]:
len(tags_3_list)

9